<div class="modal-header">
	<button type="button" class="modal-header-btn close-modal" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()"><i class="fa fa-times"></i></button>
	<button type="button" class="modal-header-btn recent-btn"><i class="fa fa-bars"></i></button>
	<span class="modal-title" translate="">Flete Dalje Magazine</span>
</div>

<div class="modal-body">

	<style>

	</style>
	<form ace-tooltip-validator class="form-horizontal" id="form">

		<div class="row">
			<div class="col-md-5">
				<div class="form-group">
					<label class="col-md-2 control-label required" translate="ACC_COMMON.WAREHOUSE"></label>
					<div class="col-md-8">
							<input ace-combo-box="customer_combo" class="k-form-control" ace-model="model.id_warehouse"
						       ace-load-url="/warehouse/warehouses/load" ace-data-text-field="code_name" on-change="contactChange(event)" required/>
						<button class="btn btn-xs btn-info" style="margin-top: 0px !important;" ng-show="!showCurrency"
					        ng-click="showCurrency=true"><span translate="CURRENCY.CURRENCY"/>: <b>{{ home_currency['name'] }}</b></button>
					</div>
				</div>

				<div class="form-group" ng-show="showCurrency">
					<label class="col-md-2 control-label" translate="CURRENCY.CURRENCY"></label>
					<div class="col-md-3">
						<input ace-drop-down-list="currencyCombo" class="k-form-control" ng-disabled="itemsGridFilled"
						       ace-model="model.id_currency" ace-datasource="currencies" on-change="currencyChange(event)"/>
					</div>
					<div class="col-md-3">
						<input kendo-numeric-text-box ng-model="model.exchange_rate" ng-disabled="model.id_currency == home_currency['id'] || itemsGridFilled"
						       ng-blur="updateExchangeRate()" k-format="'n2'" k-spinners="false" k-decimals="5" type="text" class="k-form-control" required/>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="form-group">
					<label class="col-md-3 control-label" translate="INPUTS.DOC_NUMBER"></label>
					<div class="col-md-9">
						<input ng-model="model.document_number" type="text" name="document_number" class="form-control" required ng-disabled="model.document_number=='(auto)'"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" translate="INPUTS.SERIAL"></label>
					<div class="col-md-9">
						<input ng-model="model.serial_number" type="text" name="serial_number" class="form-control" required ng-disabled="model.serial_number=='(auto)'"/>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group">
					<label class="col-md-3 control-label" translate="INPUTS.DATE"></label>
					<div class="col-md-9">
						<input ace-date-picker ace-model="model.document_date" class="k-form-control" required/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" translate="INPUTS.DESCRIPTION"></label>
					<div class="col-md-9">
						<textarea ng-model="model.description" name="description" class="form-control" rows="1"></textarea>
					</div>
				</div>
			</div>

		</div>

		<div ace-overlay="!selectedContact['id']" class="row editable-grid-container" >
			<div id="itemsGrid" class="editable-grid" data-kendo-grid="itemsGrid" k-options="itemsGridOptions"></div>
			<div class="col-md-4 editable-grid-buttons">
				<button class="btn btn-default btn-sm" ng-click="addExtraRows()" translate="FORM.ADD_ROWS"></button>
				<button class="btn btn-default btn-sm" ng-click="resetRowData()" translate="FORM.CLEAR_ROWS"></button>
			</div>
		</div>

		<div class="row" style="margin-bottom: 50px;">

			<div class="col-md-5" style="margin-top: 40px;">
				<hr class="col-md-8 col-md-offset-3" style="margin-top: 3px !important;">
					<div class="form-group">
						<label class="col-md-3 control-label required" translate="">Dalje per</label>
						<div class="col-md-7">
							<input ace-drop-down-list class="k-form-control" ace-model="model.entry_source" ace-datasource="entry_source_data"/>
						</div>
					</div>
					<div class="form-group" ng-show="model.entry_source == 1">
						<label class="col-md-3 control-label required" translate="ACC_COMMON.WAREHOUSE"> </label>
						<div class="col-md-7">
							<input ace-combo-box="customer_combo" class="k-form-control" ace-model="model.id_warehouse"
							       ace-load-url="/warehouse/warehouses/load" ace-data-text-field="code_name"/>
						</div>
					</div>
					<div class="form-group" ng-show="model.entry_source == 2">
						<label class="col-md-3 control-label required" translate="ACC_COMMON.CUSTOMER"> </label>
						<div class="col-md-7">
							<input ace-combo-box="contactsCombo" class="k-form-control" ng-disabled="itemsGridFilled"
						       ace-model="model.id_contact" ace-datasource="customers"
						       ace-data-text-field="display"/>
						</div>
					</div>
					<div class="form-group" ng-show="model.entry_source == 2">
						<label class="col-md-4 control-label required" translate="">Lidh FH me Faturen</label>
						<div class="col-md-6">
							<input ace-combo-box="customer_combo" class="k-form-control" ace-model="model.id_warehouse"
							       ace-load-url="/warehouse/warehouses/load" ace-data-text-field="code_name"/>
						</div>
					</div>
					<div class="form-group" ng-show="model.entry_source == 3">
						<label class="col-md-3 control-label required" translate="">Llogaria</label>
						<div class="col-md-7">
							<input ace-combo-box="parent_code_combo" class="k-form-control" ace-model="model.id_account"
					       ace-load-url="/accounting/accounts/load" ace-multi-filters="code_name" />
						</div>
					</div>
					<div class="form-group" ng-show="model.entry_source == 3">
						<label class="col-md-4 control-label required" translate="">Lidh FH me Faturen</label>
						<div class="col-md-6">
							<input ace-combo-box="customer_combo" class="k-form-control" ace-model="model.id_warehouse"
							       ace-load-url="/warehouse/warehouses/load" ace-data-text-field="code_name"/>
						</div>
					</div>
					<div class="form-group" ng-show="model.entry_source == 4">
						<label class="col-md-3 control-label required" translate="ACC_COMMON.SUPPLIER"> </label>
						<div class="col-md-7">
							<input ace-combo-box="contactsCombo" class="k-form-control" ng-disabled="itemsGridFilled"
						       ace-model="model.id_contact" ace-datasource="suppliers"
						       ace-data-text-field="display" />
						</div>
					</div>
					<div class="form-group" ng-show="model.entry_source == 4">
						<label class="col-md-4 control-label required" translate="">Lidh FH me Faturen</label>
						<div class="col-md-6">
							<input ace-combo-box="customer_combo" class="k-form-control" ace-model="model.id_warehouse"
							       ace-load-url="/warehouse/warehouses/load" ace-data-text-field="code_name"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label">Personi Pergjegjes</label>
						<div class="col-md-6">
							<input ng-model="model.responsible_name" type="text" name="agent" class="form-control" />
						</div>
					</div>
			</div>

			<div class="col-md-3 col-md-offset-4 col-lg-2 col-lg-offset-5">
				<div class="form-group" >
					<label class="col-md-6 control-label" translate="FORM.SUBTOTAL"></label>
					<div class="col-md-6 control-label">
						<label>{{ itemsSubtotalWithTax | kendoNumber:'c2'}} {{ currencyCombo.text() }}</label>
					</div>
				</div>
				<div class="form-group" ng-show="model.id_currency != home_currency['id']">
					<span class="col-md-6 control-label" translate="CURRENCY.HOME_CURRENCY"></span>
					<div class="col-md-6 control-label">
						<span>{{ itemsSubtotalWithTax * model.exchange_rate | kendoNumber:'c2'}} {{ home_currency['name'] }}</span>
					</div>
				</div>
			</div>
		</div>

	</form>
</div>
<div class="modal-footer" style="text-align: center;">
	<div class="pull-left">
		<button type="button" class="btn btn-cancel" data-dismiss="modal" ng-click="closeModal()" translate="FORM.CANCEL"></button>
		<button type="button" class="btn btn-danger" ng-click="delete()" translate="FORM.DELETE"></button>
	</div>
	<!--button type="button" class="btn btn-link" ng-click="print()" translate="FORM.PRINT"></button-->
	<div class="pull-right">
		<button type="button" class="btn btn-success" ng-click="save('close')" translate="FORM.SAVE_CLOSE"></button>
		<div class="btn-group dropup">
			<button type="button" class="btn btn-info" type="button" ng-click="save('new')" translate="FORM.SAVE_NEW"></button>
			<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdownonpopup" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">extra</span>
			</button>
			<ul role="menu" class="dropdown-menu dropdown-menu-right">
				<li><a href="" ng-click="reset()" translate="FORM.RESET"></a></li>
				<li class="divider"></li>
				<!--li><a href="" ng-click="save('draft')" translate="FORM.SAVE_DRAFT"></a></li-->
				<li><a href="" ng-click="save('changes')" translate="FORM.SAVE_CHANGES"></a></li>
			</ul>
		</div>
	</div>
</div>