<!-- https://docs.angularjs.org/api/ng/filter/filter -->

<style>


	.k-alt.ng-scope:not(.k-state-selected)
	{
	    background: transparent;
	}

</style>

<div class="section-container">

	<div kendo-splitter="splitter" id="splitter" class="section-splitter-container" k-orientation="'horizontal'"
		k-panes="[{collapsible: true, size: '220px', min: '150px'}, {collapsible: true, min: '200px'}]"	>

	    <div class="left-pane">
		    <div class="left-pane-header">
			    <a href="#" class="btn btn-link left-header-title-btn"><i class="fa fa-chevron-left"></i> {{'CONTACTS.SUPPLIERS_NAME' | translate }}</a>
                <a ui-sref="accounting/suppliersCreate" class="btn btn-link left-header-plus-btn"><i class="fa fa-plus"></i></a>
				<div class="input-group left-header-search">
				    <input id="mainSearchBox" type="text" placeholder="Kerko..." class="form-control" aria-label="...">
				    <div class="input-group-btn">
					    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-sort"></i></button>
					    <ul class="dropdown-menu dropdown-menu-right" role="menu">
						    <li><a href="" ng-click="searchMainList()"><span class="k-icon k-i-search"></span> {{'FORM.FILTERS' | translate }} / {{'FORM.SEARCH' | translate }} </a></li>
						    <li class="divider"></li>
						    <li><a href="" ng-click="sortMainList(mainListCodeField)"><i class="fa fa-sort-alpha-asc"></i> {{'FORM.SORT_BYCODE' | translate }} </a></li>
						    <li><a href="" ng-click="sortMainList(mainListNameField)"><i class="fa fa-sort-alpha-asc"></i> {{'FORM.SORT_BYNAME' | translate }} </a></li>
						    <li class="divider"></li>
						    <li><a href="" ng-click="searchMainList(true)"><span class="k-icon k-i-close"></span> {{'FORM.CLEAR_FILTERS' | translate }} </a></li>
					    </ul>
				    </div><!-- /btn-group -->
			    </div>
            </div>
		    <div class="left-pane-body">
				<div infinite-scroll="mainListLoadMore()" infinite-scroll-distance="1" infinite-scroll-parent="true">
					<div class="list-group">
					    <a ng-repeat='item in mainListData' href="" ng-click="getSelectedItem(item)" class="list-group-item">{{item[mainListCodeField]}} - {{item[mainListNameField]}}</a>
					</div>
			    </div>
		    </div>
	    </div>
	    <div class="right-pane">

		    <a type="button" class="btn splitter-toggle-btn" ng-click="toggleSplitter()">
			    <i class="fa fa-angle-double-left"></i>
			</a>

		    <div class="btn-group create-new-dropdown pull-right">
			    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				    <i class="fa fa-plus"></i> {{'ACC_COMMON.NEW_TRANSACTION' | translate }} <span class="caret"></span>
			    </button>
			    <ul class="dropdown-menu dropdown-menu-right" role="menu">
				    <li><a href="#"> {{'ACC_DOCTYPE.SALES_INVOICE' | translate }} </a></li>
				    <li><a href="#"> {{'ACC_DOCTYPE.CASH_RECEIPT' | translate }} </a></li>
				    <li class="divider"></li>
					<li><a href="#"> {{'ACC_DOCTYPE.SALES_ORDER' | translate }} </a></li>
					<li><a href="#"> {{'ACC_DOCTYPE.PROPOSED_OFFER' | translate }} </a></li>
					<li><a href="#"> {{'ACC_DOCTYPE.SALES_DISCOUNT' | translate }} </a></li>
					<li><a href="#"> {{'ACC_DOCTYPE.RETURN_SALES' | translate }} </a></li>
				    <li class="divider"></li>
					<li><a href="#"> {{'CONTACTS.CREATE_NEWCUSTOMER' | translate }}</a></li>
			    </ul>
		    </div>

		    <div ng-show="!selectedItem['id']" class="initial-message-block">
				<h1> {{'CONTACTS.SUPPLIERS' | translate }} </h1>
				<h3><i class="fa fa-chevron-circle-left"></i> {{'FORM.CHOOSE_LIST_ELEMENT' | translate }} </h3>
			</div>
		    <div ng-show="selectedItem['id']" kendo-tab-strip="tabnavigator" class="right-pane-tabscontainer">
			    <ul>
				    <li > {{'CONTACTS.DETAILS' | translate }} <b>{{selectedItem[mainListNameField]}}</b></li>
				    <li class="k-state-active"> {{'ACC_COMMON.TRANSACTION_DOCS' | translate }} </li>
			    </ul>

			    <div class="form-horizontal">
				    <div class="row" style="padding-right: 15px; margin-bottom: 15px;">
						<button type="button" class="btn btn-warning pull-right">
						    <i class="fa fa-pencil-square-o"></i> {{'FORM.EDIT' | translate }}
					    </button>
				    </div>

					<div class="col-md-5">
					    <div class="form-group">
						    <label class="col-sm-4 control-label" translate="INPUTS.CODE"></label>
						    <div class="col-sm-8">
							    <span class="label-underlined-form-item">&nbsp;{{selectedItem[mainListCodeField]}}</span>
						    </div>
					    </div>
					    <div class="form-group">
						    <label class="col-sm-4 control-label" translate="INPUTS.NAME"></label>
						    <div class="col-sm-8">
							    <span class="label-underlined-form-item">&nbsp;{{selectedItem[mainListNameField]}}</span>
						    </div>
					    </div>
					    <div class="form-group">
						    <label class="col-sm-4 control-label" translate="CONTACTS.COMPANY"></label>
						    <div class="col-sm-8">
							    <span class="label-underlined-form-item">&nbsp;{{selectedItem.company_name}}</span>
						    </div>
					    </div>
					    <div class="form-group">
						    <label class="col-sm-4 control-label" translate="CONTACTS.ADMINISTRATOR"></label>
						    <div class="col-sm-8">
							    <span class="label-underlined-form-item">&nbsp;{{selectedItem.company_contact_person}}</span>
						    </div>
					    </div>
					    <div class="form-group">
						    <label class="col-sm-4 control-label" translate="CURRENCY.CURRENCY"></label>
						    <div class="col-sm-8">
							    <span class="label-underlined-form-item">&nbsp;{{selectedItem.currency}}</span>
						    </div>
					    </div>
			        </div>

			        <div class="col-md-5 col-md-offset-1">
					    <div class="form-group">
						    <label class="col-sm-4 control-label" translate="INPUTS.EMAIL"></label>
						    <div class="col-sm-8">
							    <span class="label-underlined-form-item">&nbsp;{{selectedItem.email}}</span>
						    </div>
					    </div>
					    <div class="form-group">
						    <label class="col-sm-4 control-label" translate="INPUTS.PHONE"></label>
						    <div class="col-sm-8">
							    <span class="label-underlined-form-item">&nbsp;{{selectedItem.phonenumber}}</span>
						    </div>
					    </div>
					    <div class="form-group">
						    <label class="col-sm-4 control-label" translate="INPUTS.ADDRESS"></label>
						    <div class="col-sm-8">
							    <span class="label-underlined-form-item">&nbsp;{{selectedItem.address}}</span>
						    </div>
					    </div>
			        </div>

			    </div>

			    <div>
				    <div id="grid" data-kendo-grid="grid" k-options="gridOptions" k-on-filter-menu-init="filterInit(kendoEvent)"></div>
			    </div>

            </div>


	    </div>
	</div>

</div>
