<div class="modal-header">
	<button type="button" class="modal-header-btn close-modal" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()"><i class="fa fa-times"></i></button>
	<button type="button" class="modal-header-btn recent-btn"><i class="fa fa-bars"></i></button>
	<h4 class="modal-title">{{'CONTACTS.TITLE' | translate }}</h4>
</div>

<div class="modal-body">

<form ace-tooltip-validator class="form-horizontal" id="form">

<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<label class="col-sm-3 control-label" translate="INPUTS.NAME"></label>
			<div class="col-sm-4">
				<input ng-model="model.contact_firstname" type="text" name="contact_firstname"  class="form-control" />
			</div>
			<div class="col-sm-4">
				<input ng-model="model.contact_lastname" type="text" name="contact_lastname" placeholder="Mbiemri" class="form-control"/>
			</div>
		</div>
		<div class="form-group ">
			<label class="col-sm-3 control-label" translate="INPUTS.CODE"></label>
			<div class="col-sm-8">
				<input ng-model="model.contact_code" type="text" name="contact_code" class="form-control" />
			</div>
		</div>
		<div class="form-group ">
			<label class="col-sm-3 control-label" translate="CONTACTS.COMPANY"></label>
			<div class="col-sm-8">
				<input ng-model="model.company_name" type="text" name="company_name" class="form-control"/>
			</div>
		</div>
		<div class="form-group ">
			<label class="col-sm-3 control-label" translate="CONTACTS.DISPLAY_NAME"></label>
			<div class="col-sm-8">
			<input ace-drop-down-list class="k-form-control" k-ng-model="model.contact_display_name" ace-datasource="accountstates"/>
					<!--select kendo-combo-box class="form-control">
						<option>Albania</option>
						<option>Grecee</option>
						<option>Germany</option>
						<option>Norway</option>
					</select-->
				
			</div>
		</div>
		<!--div class="form-group">
			<label class="col-sm-3 control-label">Tipi i kontaktit</label>
			<div class="col-sm-8">
				<label class="radio-inline">
					<input ng-model="model.is_cutomer" type="radio" name="active" value="0">Klient
				</label>
				<label class="radio-inline">
					<input ng-model="model.is_vendor" type="radio" name="active" value="1"> Furnitor
				</label>
				<label class="radio-inline">
					<input ng-model="model.active" type="radio" name="active" value="2"> Te dyja
				</label>
			</div>
		</div-->
	</div>
	<div class="col-md-6">
		<div class="form-group ">
			<label class="col-sm-3 control-label" translate="INPUTS.PHONE"></label>
			<div class="col-sm-8">
				<input ng-model="model.phonenumber" type="text" name="phonenumber" class="form-control" />
			</div>
		</div>
		<div class="form-group ">
			<label class="col-sm-3 control-label" translate="INPUTS.EMAIL"></label>
			<div class="col-sm-8">
				<input ng-model="model.email" type="text" name="email" class="form-control" />
			</div>
		</div>
		<div class="form-group ">
			<label class="col-sm-3 control-label" translate="INPUTS.ADDRESS"></label>
			<div class="col-sm-8">
				<!--input ng-model="model.address" type="text" name="address" placeholder="Adresa" class="form-control"/-->
				<textarea ng-model="model.address" name="address" class="form-control" rows="1"></textarea>
			</div>
		</div>
		<!--div class="form-group ">
			<label class="col-sm-3 control-label required">Qyteti</label>
			<div class="col-sm-8">
				<input ng-model="model.city" type="text" name="city" class="form-control" />
			</div>
		</div-->
		<div class="form-group">
			<label class="col-sm-3 control-label" translate="CONTACTS.CITY"></label>
			<div class="col-sm-4">
				<input ng-model="model.city" type="text" name="city" class="form-control" />
			</div>
			<div class="col-sm-4">
				<input ng-model="model.zip_code" type="text" name="zip_code" placeholder="Kodi Postar" class="form-control"/>
			</div>
		</div>
		<div class="form-group ">
			<label class="col-sm-3 control-label" translate="CONTACTS.DISTRICT"></label>
			<div class="col-sm-8">
				<input ng-model="model.district" type="text" name="district" class="form-control" />
			</div>
		</div>
		<div class="form-group ">
			<label class="col-sm-3 control-label" translate="CONTACTS.COUNTRY"></label>
			<div class="col-sm-8">
				<input ng-model="model.country" type="text" name="country" class="form-control" />
			</div>
		</div>
		<!--div class="form-group">
			<label class="col-sm-3 control-label required">Monedha</label>
			<div class="col-sm-4">
				<select kendo-combo-box>
					<option>ALL</option>
					<option>USD</option>
					<option>EUR</option>
					<option>YEN</option>
				</select>
			</div>
			<div class="col-sm-3">
				<input ng-model="model.kursi" type="text" name="Kursi" placeholder="Kursi" class="form-control" required/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label required">Niveli i çmimeve</label>
			<div class="col-sm-8">
				<div class="boxc-col">
					<select kendo-combo-box>
						<option>Niveli 1</option>
						<option>Niveli 2</option>
						<option>Niveli 3</option>
						<option>Niveli 4</option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label required">Termat e Pagesave</label>
			<div class="col-sm-8">
				<div class="boxc-col">
					<select kendo-combo-box>
						<option>Test</option>
						<option>Test</option>
						<option>Test</option>
						<option>Test</option>
					</select>
				</div>
			</div>
		</div-->

	</div>
</div> <!--ne rregull-->



<div kendo-tab-strip style="margin: 20px;">
	<ul>
		<li class="k-state-active">Info. Baze</li>
		<li>Kompania</li>
		<li>Fusha Shtese</li>
	</ul>

	<div class="row" style="background-color:#E6F0F0; padding: 20px;">
		<div class="col-md-6">

			<div class="form-group">
				<label class="col-sm-3 control-label" translate="CURRENCY.CURRENCY"></label>
				<div class="col-sm-4">
					<input ace-drop-down-list class="k-form-control" k-ng-model="model.id_currency" ace-datasource="currencies"/>
					<!--select kendo-combo-box class="form-control">
						<option>ALL</option>
						<option>USD</option>
						<option>EUR</option>
						<option>YEN</option>
					</select-->
				</div>
				<div class="col-sm-4">
					<input ng-model="model.opening_exchange_rate" type="text" name="opening_exchange_rate" placeholder="Kursi" class="form-control"/>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label" translate="CONTACTS.PRICE_LEVEL"></label>
				<div class="col-sm-8">
					<input ace-drop-down-list class="k-form-control" k-ng-model="model.default_itempricelevel" ace-datasource="currencies"/>
						<!--select kendo-combo-box class="form-control">
							<option>Niveli 1</option>
							<option>Niveli 2</option>
							<option>Niveli 3</option>
							<option>Niveli 4</option>
						</select-->
			    </div>
		    </div>

			<div class="form-group">
				<label class="col-sm-3 control-label" translate="ACC_COMMON.PAYMENT_TERMS"></label>
				<div class="col-sm-8">
					<input ace-drop-down-list class="k-form-control" k-ng-model="model.id_commercialterms" ace-datasource="currencies"/>
					    <!--select kendo-combo-box class="form-control">
							<option>Test</option>
							<option>Test</option>
							<option>Test</option>
							<option>Test</option>
						</select-->
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label" translate="CONTACTS.BALANCE"></label>
				<div class="col-sm-8">
					<input ng-model="model.opening_balance" type="text" name="opening_balance"  class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" translate="INPUTS.DATE"></label>
				<div class="col-sm-8">
				    	<!--input kendo-date-picker ng-model="dateString" ng-model="created_at" class="k-form-control" /-->
					   <input kendo-date-picker ng-model="model.opening_date" name="opening_date" k-options="datePickerOptions" k-parse-formats="['ddMMyy']" class="k-form-control" />
				</div>
			</div>

		</div>

		<div class="col-md-6">
			<div class="form-group">
				<label class="col-sm-3 control-label required" translate="CONTACTS.CLIENT_ACCOUNT"></label>
				<div class="col-sm-8">
					<input ace-drop-down-list class="k-form-control" k-ng-model="model.id_commercialterms" ace-datasource="currencies"/>	
						<!--select kendo-combo-box class="form-control">
							<option>Test 1</option>
							<option>Test 2</option>
							<option>Test 3</option>
							<option>Test 4</option>
						</select-->	
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="background-color:#E6F0F0; padding: 20px;">
		<div class="col-md-6">
			<div class="form-group ">
				<label class="col-sm-3 control-label" translate="CONTACTS.COMPANY_NAME"></label>
				<div class="col-sm-6">
					<input ng-model="company.company_name" type="text" name="company_name" class="form-control" />
				</div>
			</div>

			<div class="form-group ">
				<label class="col-sm-3 control-label" translate="CONTACTS.NIPT"></label>
				<div class="col-sm-6">
					<input ng-model="model.company_registration_code" type="text" name="company_registration_code" class="form-control" />
				</div>
			</div>
			<div class="form-group ">
				<label class="col-sm-3 control-label" translate="CONTACTS.ADMINISTRATOR"></label>
				<div class="col-sm-6">
					<input ng-model="model.company_admin_namesurname" type="text" name="company_admin_namesurname" class="form-control" />
				</div>
			</div>
			<div class="form-group ">
				<label class="col-sm-3 control-label" translate="CONTACTS.ORGANIZATION_FORM"></label>
				<div class="col-sm-6">
					<input ace-drop-down-list class="k-form-control" ng-model="model.id_organisationform" ace-datasource="currencies"/>	
						<!--select kendo-combo-box class="form-control">
							<option>Test</option>
							<option>Test</option>
							<option>Test</option>
							<option>Test</option>
						</select-->
				</div>
			</div>
			<div class="form-group ">
				<label class="col-sm-3 control-label" translate="CONTACTS.COMPANY_ADDRESS"></label>
				<div class="col-sm-6">
					<!--input ng-model="model.company_address" type="text" name="company_address" class="form-control" /-->
					<textarea ng-model="model.company_address" name="company_address" class="form-control" rows="1"></textarea>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group ">
				<label class="col-sm-3 control-label" translate="CONTACTS.CONTACT_PERSON"></label>
				<div class="col-sm-6">
					<input ng-model="model.company_contact_person" type="text" name="company_contact_person"  class="form-control" />
				</div>
			</div>
			<div class="form-group ">
				<label class="col-sm-3 control-label" translate="INPUTS.PHONE"></label>
				<div class="col-sm-6">
					<input ng-model="model.company_phonenumber" type="text" name="company_phonenumber"  class="form-control" />
				</div>
			</div>

			<div class="form-group ">
				<label class="col-sm-3 control-label" translate="CONTACTS.FAX"></label>
				<div class="col-sm-6">
					<input ng-model="model.fax" type="text" name="fax" class="form-control" />
				</div>
			</div>
			<div class="form-group ">
				<label class="col-sm-3 control-label" translate="INPUTS.EMAIL"></label>
				<div class="col-sm-6">
					<input ng-model="model.company_email" type="text" name="company_email" class="form-control" />
				</div>
			</div>
			<div class="form-group ">
				<label class="col-sm-3 control-label" translate="CONTACTS.BANK_ACCOUNT"></label>
				<div class="col-sm-6">
					<input ng-model="model.account" type="text" name="account" class="form-control" />
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="background-color:#E6F0F0; padding: 20px;">
	</div>

</div>

</form>

</div>
<div class="modal-footer" style="text-align: center;">
	<div class="pull-left">
		<button type="button" class="btn btn-cancel" data-dismiss="modal" ng-click="closeModal()" translate="FORM.CANCEL"></button>
		<button type="button" class="btn btn-danger" ng-click="delete()" translate="FORM.DELETE"></button>
	</div>
	<!--button type="button" class="btn btn-link" ng-click="print()" translate="FORM.PRINT"></button-->
	<div class="pull-right">
		<button type="button" class="btn btn-success" ng-click="save('close')" translate="FORM.SAVE_CLOSE"></button>
		<div class="btn-group dropup">
			<button type="button" class="btn btn-info" type="button" ng-click="save('new')" translate="FORM.SAVE_NEW"></button>
			<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdownonpopup" aria-expanded="false">
			    <span class="caret"></span>
			    <span class="sr-only">extra</span>
		    </button>
			<ul role="menu" class="dropdown-menu dropdown-menu-right">
				<li><a href="" ng-click="reset()" translate="FORM.RESET"></a></li>
				<li class="divider"></li>
				<!--li><a href="" ng-click="save('draft')" translate="FORM.SAVE_DRAFT"></a></li-->
				<li><a href="" ng-click="save('changes')" translate="FORM.SAVE_CHANGES"></a></li>
			</ul>
		</div>
	</div>
</div>