<div class="modal-header">

	<button type="button" class="modal-header-btn close-modal" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()"><i class="fa fa-times"></i></button>
	<button type="button" class="modal-header-btn recent-btn"><i class="fa fa-bars"></i></button>
	<span class="modal-title" translate="USERS.TITLE"></span>
</div>

<div class="modal-body" >

	<form ace-tooltip-validator class="form-horizontal" id="form" style="margin: 30px;">
		<div class="form-group">
			<label class="col-sm-3 control-label required" translate="USERS.USERNAME"></label>
			<div class="col-sm-8">
				<input ng-model="model.username" type="text" class="form-control" required/>
			</div>
		</div>
		<div class="form-group" ng-show="!model['id']" >
			<label class="col-sm-3 control-label required" translate="USERS.PASSWORD"></label>
			<div class="col-sm-8">
				<input ng-model="model.password" type="text"  class="form-control" required/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label required" translate="INPUTS.EMAIL"></label>
			<div class="col-sm-8">
				<input ng-model="model.email" type="text"  class="form-control" required/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label required" translate="ROLES.NAME"></label>
			<div class="col-sm-8">
				<input ace-drop-down-list class="k-form-control" ace-model="model.id_role"
 				ace-datasource="roles_list" ace-data-text-field="role_name"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label required" translate="INPUTS.NAME"></label>
			<div class="col-sm-8">
				<input ng-model="model.firstname" type="text"  class="form-control" required/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label required" translate="INPUTS.LAST_NAME"></label>
			<div class="col-sm-8">
				<input ng-model="model.lastname" type="text"  class="form-control" required/>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-sm-3 control-label required" translate="INPUTS.PHONE"></label>
			<div class="col-sm-8">
				<input ng-model="model.tel" type="text"  class="form-control" required/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" translate="INPUTS.STATUS"></label>
			<div class="col-sm-8">
				<label class="radio-inline"> 
					<input ng-model="model.status" type="radio" name="active" value="1">{{'INPUTS.STATUS_ACTIVE' | translate }}</label>
				<label class="radio-inline">
					<input ng-model="model.status" type="radio" name="active" value="0">{{'INPUTS.STATUS_INACTIVE' | translate }}</label>
				<label class="radio-inline">
					<input ng-model="model.status" type="radio" name="active" value="2">{{'INPUTS.BANNED' | translate }}</label>
			</div>
		</div>
	</form>

</div>

<div class="modal-footer" style="text-align: center;">
	<div class="pull-left">
		<button type="button" class="btn btn-cancel" data-dismiss="modal" ng-click="closeModal()" translate="FORM.CANCEL"></button>
		<button type="button" class="btn btn-danger" ng-click="delete()" translate="FORM.DELETE"></button>
		<button type="button" class="btn btn-warning" ng-click="changePassword()" translate="FORM.CHANGE_PASSWORD"></button>
	</div>
	<!--button type="button" class="btn btn-link" ng-click="print()" translate="FORM.PRINT"></button-->
	<div class="pull-right">
		<button type="button" class="btn btn-success" ng-click="save('close')" translate="FORM.SAVE_CLOSE"></button>
	</div>
</div>