<!-- https://docs.angularjs.org/api/ng/filter/filter -->

<style>
	
	.tree-view-container {
		position: absolute;
		display: block;
		top: 30px;
		bottom: 0px;
		left: 20px;
		right: 5px;
		overflow-y: auto;
		padding-right: 3px;
	}

	#books-btn-container {
		position: absolute;
		display: block;
		top: 15px;
	}

	#books-grid-container {
		margin: 55px 15px 15px 15px !important;
	}
	#footer-container {
		position: absolute;
		display: block;
		bottom: 15px;
	}

</style>

<div class="section-container">

 <div kendo-splitter="splitter" id="splitter" class="section-splitter-container" k-orientation="'horizontal'"
		k-panes="[{collapsible: true, size: '240px', min: '150px'}, {collapsible: true}]"	>

		<div class="left-pane">
					<div kendo-tree-view="tree" class="tree-view-container" k-options="treeOptions"></div>
		</div>
	  	<div class="right-pane">
					<a type="button" class="btn splitter-toggle-btn" ng-click="toggleSplitter()">
					<i class="fa fa-angle-double-left"></i>
					</a>
					<div id="books-btn-container" class="btn-group create-new-dropdown pull-right">
					<a ui-sref="warehouse/itemsCreate" type="button" class="btn pull-right btn-success" ng-click="createitems()">
					<i class="fa fa-plus"></i> {{'ITEM.NEW_ITEM' | translate }}
					</a>
					</div>

	  		<div kendo-tab-strip="tabnavigator" class="right-pane-tabscontainer">
				<ul>
						<li class="k-state-active">{{'ITEM.DETAILS' | translate }}</li>
						<li > {{'ITEM.PRICE_LEVEL' | translate }} </li>
				</ul>
				<div id="books-grid-container">
					<div id="grid" data-kendo-grid="grid" k-options="gridOptions" k-on-filter-menu-init="filterInit(kendoEvent)"></div>
			    </div>
			    <div id="books-grid-container">
					<div id="grid2" data-kendo-grid="grid2" k-options="gridOptions2" k-on-filter-menu-init="filterInit(kendoEvent)"></div>	
					<div class="section-footer" id="footer-container">
						<button type="button" class="btn btn-primary" ng-click="save()" translate="FORM.SAVE_CHANGES"></button>
					</div>			    	
			    </div>
			</div>
 		</div>
 </div>	
</div>
