<div class="modal-header">
	<button type="button" class="modal-header-btn close-modal" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()"><i class="fa fa-times"></i></button>
	<button type="button" class="modal-header-btn recent-btn"><i class="fa fa-bars"></i></button>
	<span class="modal-title" translate="ITEMS.TITLE"></span>
</div>

<div class="modal-body">

<form ace-tooltip-validator class="form-horizontal" id="form">

<div class="row">
	<div class="col-md-4">
		<div class="form-group ">
				<label class="col-sm-3 control-label" translate="ITEM.KIND"></label>
			<div class="col-sm-8">
		       	<!--input ace-combo-box class="k-form-control" ace-model="model.id_itemkind"
					   ace-load-url="/warehouse/itemkinds/load" ace-data-text-field="name"/-->
			 <input ace-drop-down-list="itemkindCombo" class="k-form-control" ace-model="model.id_itemkind" ace-datasource="itemkinds" 
			 		on-change="itemkindChange(event)"/>
			</div>
		</div>
		<div class="form-group ">
				<label class="col-sm-3 control-label" translate="ITEM.TITLE"></label>
			<div class="col-sm-8">
				 <input ace-drop-down-list class="k-form-control" ace-model="model.id_itemtype" ace-datasource="itemtypes" 
			 		on-change="itemtypeChange(event)"/>
			</div>
		</div>
		<div class="form-group ">
				<label class="col-sm-3 control-label" translate="ACCOUNTS.ACCOUNT_GROUP"></label>
			<div class="col-sm-8">
				 <input ace-drop-down-list class="k-form-control" ace-model="model.id_itemgroup" ace-datasource="itemgroups" 
			 		on-change="itemgroupChange(event)"/>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<label class="col-sm-4 control-label" translate="ITEMS.INVENTAR"></label>
			<div class="col-sm-8">
				<input ng-model="model.code" type="text" name="code" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label" translate="INPUTS.NAME"></label>
			<div class="col-sm-8">
				<input ng-model="model.name" type="text" name="name" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label" translate="ITEMS.BASE_UNIT"></label>
			<div class="col-sm-8">
				<input ng-model="model.id_unit" type="text" name="id_unit" class="form-control" />
			</div>
		</div>
		<div class="form-group" ng-show="model.id_itemkind==1">
			<label class="col-sm-4 control-label" translate="ITEMS.BARCODE"></label>
			<div class="col-sm-8">
				<input ng-model="model.barcode" type="text" name="barcode" class="form-control" />
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group ">
			<div class="col-md-5">
			<label class="control-label">
			<input ng-model="model.active" type="checkbox"> {{'ITEMS.NOT_ACTIVE' | translate }}</label>
			</div>
		</div>
		<div class="form-group ">
			<div class="col-md-5"> 
			<label class="control-label">
			<input ng-model="model.include_in_interest_calc" type="checkbox"> {{'ITEMS.DELAY_INTERST' | translate }}</label>
			</div>
		</div>
	</div>	
</div> <!--ne rregull-->

	<div class="row">
		<div class="col-md-6"><h4 class="modal-title"><CENTER>{{'ITEMS.BYES' | translate }}</CENTER></h4></div>
		<div class="col-md-6"><h4 class="modal-title"><CENTER>{{'ITEMS.SALES' | translate }}</CENTER></h4></div>
	</div>
<div class="row">
	<div class="col-md-6">
		<hr class="darker"/>
		<div class="form-group" ng-show="model.id_itemkind==1">
			<label class="col-sm-3 control-label" translate="ITEMS.BYES_ACCOUNT"></label>
			<div class="col-sm-7">
				<input ng-model="model.idpurchase_account" type="text" name="idpurchase_account" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" translate="ITEMS.IVENTORY_ACCOUNT"></label>
			<div class="col-sm-7">
				<input ng-model="model.idcost_account" type="text" name="idcost_account" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" translate="ITEMS.INTERNAL_ACCOUNT"></label>
			<div class="col-sm-7">
				<input ng-model="model.idpurchase_discount_account" type="text" name="idpurchase_discount_account" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" translate="ITEMS.COST"></label>
			<div class="col-sm-7">
				<input ng-model="model.cost" type="text" name="cost" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" translate="ITEMS.DESCRIPTION"></label>
			<div class="col-sm-7">
				<textarea ng-model="model.purchase_description" class="form-control" rows="1"></textarea>
			</div>
		</div>		
	</div>

	<div class="col-md-6">
		<hr class="darker"/>
		<div class="form-group">
			<label class="col-sm-3 control-label" translate="ITEMS.SALES_ACCOUNT"></label>
			<div class="col-sm-7">
				<input ng-model="model.idsale_account" type="text" name="idsale_account" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" translate="ITEMS.INTERNAL_ACCOUNT"></label>
			<div class="col-sm-7">
				<input ng-model="model.idsale_discount_account" type="text" name="idsale_discount_account" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-5 col-md-offset-3">
				<label class="control-label">
				<input ng-model="model.idsale_discount_account_with_minus" type="checkbox"> {{'ITEMS.DISCOUNT' | translate }}</label>
			</div>
		</div>		
		<div class="form-group">
			<label class="col-sm-3 control-label" translate="ITEMS.PRICE_LEVEL"></label>
			<div class="col-sm-7">
				<input ng-model="model.price" type="text" name="price" class="form-control" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" translate="ITEMS.TVSH_LEVEL"></label>
			<div class="col-sm-7">
				<input ace-drop-down-list class="k-form-control" ace-model="model.id_tax" ace-datasource="taxes"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" translate="ITEMS.DESCRIPTION_SALES"></label>
			<div class="col-sm-7">
				<textarea ng-model="model.sale_description" class="form-control" rows="1"></textarea>
			</div>
		</div>
	</div>
</div>	
</form>
<hr>
<form ace-tooltip-validator class="form-widgets" id="form">
	<div class="row">
		<div class="col-md-2">
			<div class="form-group" ng-show="model.id_itemkind==1">
			  	<label class="control-label" translate="ITEMS.IVENTOR_ACCOUNT"></label>
			  	<input ng-model="model.id_account" type="text" name="id_account" class="form-control"/>
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group" ng-show="model.id_itemkind==1">
				<label class="control-label" translate="CURRENCY.CURRENCY"></label>
				<input ace-drop-down-list class="k-form-control" ace-model="model.id_currency" ace-datasource="currencies" on-change="currencyChange(event)"/>
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group" ng-show="model.id_itemkind==1">
			  	<label class="control-label" translate="ITEMS.QUANTITY"></label>
			  	<input ng-model="model.opening_quantity" type="text" name="opening_quantity" class="form-control"/>
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group" ng-show="model.id_itemkind==1">
			  	<label class="control-label" translate="ITEMS.TOTAL_VAT"></label>
			  	<input ng-model="model.opening_amount" type="text" name="opening_amount" class="form-control"/>
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group" ng-show="model.id_itemkind==1">
			  	<label class="control-label" translate="ITEMS.CURSE"></label>
			  	<input kendo-numeric-text-box ng-model="model.opening_exchange_rate" 
			  		ng-blur="updateExchangeRate()" k-format="'n2'" k-spinners="false" k-decimals="5" type="text" class="k-form-control" required/>
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group" ng-show="model.id_itemkind==1">
			  	<label class="control-label" translate="INPUTS.DATE"></label>
			  	<input ace-date-picker ace-model="model.opening_date" class="k-form-control" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<div class="form-group" ng-show="model.id_itemkind==1">
			  	<label class="control-label" translate="ITEMS.WAREHOUSE"></label>
			  	<input ng-model="model.id_warehouse" type="text" name="id_warehouse" class="form-control"/>
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group" ng-show="model.id_itemkind==1">
			  	<label class="control-label" translate="ITEMS.ORDER_POINT"></label>
			  	<input ng-model="model.reorder_point" type="text" name="reorder_point" class="form-control"/>
			</div>
		</div>
		<div class="col-md-2">
			<div class="form-group" ng-show="model.id_itemkind==1">
			  	<label class="control-label" translate="WAREHOUSE.MAX_QUANTITY"></label>
			  	<input ng-model="model.max_quantity" type="text" name="max_quantity" class="form-control"/>
			</div>
		</div>
	</div>		
</form>	

</div>
<div class="modal-footer" style="text-align: center;">
	<div class="pull-left">
		<button type="button" class="btn btn-cancel" data-dismiss="modal" ng-click="closeModal()" translate="FORM.CANCEL"></button>
		<button type="button" class="btn btn-danger" ng-click="delete()" translate="FORM.DELETE"></button>
	</div>
	<!--button type="button" class="btn btn-link" ng-click="print()" translate="FORM.PRINT"></button-->
	<div class="pull-right">
		<button type="button" class="btn btn-success" ng-click="save('close')" translate="FORM.SAVE_CLOSE"></button>
		<div class="btn-group dropup">
			<button type="button" class="btn btn-info" type="button" ng-click="save('new')" translate="FORM.SAVE_NEW"></button>
			<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdownonpopup" aria-expanded="false">
			    <span class="caret"></span>
			    <span class="sr-only">extra</span>
		    </button>
			<ul role="menu" class="dropdown-menu dropdown-menu-right">
				<li><a href="" ng-click="reset()" translate="FORM.RESET"></a></li>
				<li class="divider"></li>
				<!--li><a href="" ng-click="save('draft')" translate="FORM.SAVE_DRAFT"></a></li-->
				<li><a href="" ng-click="save('changes')" translate="FORM.SAVE_CHANGES"></a></li>
			</ul>
		</div>
	</div>
</div>
<style scoped>
hr.darker {
	border-color: #AAAAAA;
}
</style>