<div class="modal-header">
	<button type="button" class="modal-header-btn close-modal" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()"><i class="fa fa-times"></i></button>
    <button type="button" class="modal-header-btn recent-btn"><i class="fa fa-bars"></i></button>
	<h4 class="modal-title">{{'WAREHOUSE.TITLE' | translate }}</h4>
</div>

<div class="modal-body">

<form ace-tooltip-validator class="form-widgets" id="form">

 <div class="row">
	<div class="col-md-4">
		<div class="form-group">
			  <label class="control-label" translate="WAREHOUSE.CODE"></label>
			  <input ng-model="model.code" type="text" name="code" class="form-control" required/>
		</div>
		<div class="form-group ">
			  <label class=" control-label" translate="WAREHOUSE.NAME"></label>
		      <input ng-model="model.name" type="text" name="name" class="form-control" required/>	  
		</div>
		<div class="form-group ">
			  <label class="control-label" translate="WAREHOUSE.UNIT_ID"></label> 
			  <!--input ng-model="model.id_unit" type="text" name="id_unit" class="form-control" required/-->
			  <input ace-combo-box="parent_code_combo" class="k-form-control" ace-model="model.id_unit"
					       ace-load-url="/warehouse/warehouses/load" />
		</div>  
	</div> 
    <div class="col-md-4">
        <div class="form-group">
			  <label class="control-label" translate="WAREHOUSE.ADDRESS"></label>
			  <input ng-model="model.address" type="text" name="warehouseplace" class="form-control" required/>
		</div>
        <div class="form-group">
			  <label class="control-label" translate="WAREHOUSE.RESPONSIBLE"></label>
			  <input ng-model="model.responsible_name" type="text" name="responsible_name" class="form-control" required/>
		</div>
    </div> 
    <div class="col-md-4">
        <div class="form-group">
			  <label class="control-label" translate="INPUTS.DESCRIPTION"></label>
			  <textarea class="form-control" rows="3"></textarea>
		</div>
         <div class="form-group">
					<label class="control-label" translate="INPUTS.STATUS"></label>
					<div>
						<label class="radio-inline">
							<input ng-model="model.active" type="radio" value="1"> {{'INPUTS.STATUS_ACTIVE' | translate }}
						</label>
						<label class="radio-inline">
							<input ng-model="model.active" type="radio" value="0"> {{'INPUTS.STATUS_INACTIVE' | translate }}
						</label>
					</div> 
		</div>			
        <div class="form-group">
		      <label class="control-label"><input ng-model="model.logical" type="checkbox"> {{'WAREHOUSE.LOGICAL_WAREHOUSE' | translate }}</label>
        </div>       
    </div> 
 </div> 
<hr>
 <div class="row">
    <div class="col-md-4">	
        <div class="form-group">
            <label class="control-label" translate="WAREHOUSE.MIN_QUANTITY"></label>
			<input kendo-numeric-text-box ng-model="model.min_quantity" name="min_quantity" class="k-form-control" required/>
	    </div>
    </div>
    <div class="col-md-4">	
        <div class="form-group">
		    <label class="control-label" translate="WAREHOUSE.MAX_QUANTITY"></label>
	    	<input kendo-numeric-text-box ng-model="model.max_quantity" name="max_quantity" class="k-form-control" required/>
	    </div>
	 </div>
	 <div class="col-md-4">	
        <div class="form-group">
            <label class="control-label" translate="WAREHOUSE.UNIT"></label>	   
	         <input ng-model="model.warehouseunit" type="text" name="warehouseunit" class="form-control" required/>
	    </div>
     </div>
 </div>  
 <hr>
        <!--div class="form-group">
		    <div class="checkbox">  
		      <label>
              <input type="checkbox" id="checkboxWarning" value="option1"><b>Mos lejo dalje nese nuk ka gjendje per artikujt</b></label>
            </div>
        </div> 
        <div class="form-group">
		    <div class="checkbox">  
		      <label>
              <input type="checkbox" id="checkboxWarning" value="option1"><b>Mos kerko konfirmim nese nuk ka gjendje per artikujt</b></label>
            </div>
        </div--> 
        <div class="form-group">
					<label class="control-label"><input ng-model="model.allow_sales_if_nobalance" type="checkbox"> {{'WAREHOUSE.ALLOW_SALES_IF_NOBALANCE' | translate }} </label>
		
		</div>
        <div class="form-group">
					<label class="control-label"><input ng-model="model.notify_if_nobalance" type="checkbox"> {{'WAREHOUSE.NOTIFY_IF_NOBALANCE' | translate }}</label>
		</div>

        <div class="form-group" style="color:red;"> 
		     <i>{{'WAREHOUSE.NOTE' | translate }}</i>
        </div> </div> 
</form>
</div>
<div class="modal-footer" style="text-align: center;">
	<div class="pull-left">
		<button type="button" class="btn btn-cancel" data-dismiss="modal" ng-click="closeModal()" translate="FORM.CANCEL"></button>
		<button type="button" class="btn btn-danger" ng-click="delete()" translate="FORM.DELETE"></button>
	</div>
	<!--button type="button" class="btn btn-link" ng-click="print()" translate="FORM.PRINT"></button-->
	<div class="pull-right">
		<button type="button" class="btn btn-success" ng-click="save('close')" translate="FORM.SAVE_CLOSE"></button>
		<div class="btn-group dropup">
			<button type="button" class="btn btn-info" type="button" ng-click="save('new')" translate="FORM.SAVE_NEW"></button>
			<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdownonpopup" aria-expanded="false">
			    <span class="caret"></span>
			    <span class="sr-only">extra</span>
		    </button>
			<ul role="menu" class="dropdown-menu dropdown-menu-right">
				<li><a href="" ng-click="reset()" translate="FORM.RESET"></a></li>
				<li class="divider"></li>
				<!--li><a href="" ng-click="save('draft')" translate="FORM.SAVE_DRAFT"></a></li-->
				<li><a href="" ng-click="save('changes')" translate="FORM.SAVE_CHANGES"></a></li>
			</ul>
		</div>
	</div>
</div>