/* CSS Animations for Angular */

.tbl-row-fade.ng-enter,
.tbl-row-fade.ng-leave,
.tbl-row-fade.ng-move {
	-webkit-transition: 0.5s linear all;
	-moz-transition: 0.5s linear all;
	-o-transition: 0.5s linear all;
	transition: 0.5s linear all;
}

.tbl-row-fade.ng-enter,
.tbl-row-fade.ng-move {
	opacity: 0;
	height: 0;
	overflow: hidden;
}

.tbl-row-fade.ng-move.ng-move-active,
.tbl-row-fade.ng-enter.ng-enter-active {
	opacity: 1;
	height: 30px;
}

.tbl-row-fade.ng-leave {
	opacity: 1;
	overflow: hidden;
}

.tbl-row-fade.ng-leave.ng-leave-active {
	opacity: 0;
	height: 0;
	padding-top: 0;
	padding-bottom: 0;
}