html {
}

body {
	font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	font-weight: 400;
}

.navbar-default {
	background-image: -webkit-linear-gradient(top, #EDF1F5 0%, #DADEE3 100%);
	background-image:      -o-linear-gradient(top, #EDF1F5 0%, #DADEE3 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EDF1F5), to(#DADEE3));
	background-image:         linear-gradient(to bottom, #EDF1F5 0%, #DADEE3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 5px rgba(0, 0, 0, .075);
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
	background-image: -webkit-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%);
	background-image:      -o-linear-gradient(top, #dbdbdb 0%, #e2e2e2 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#e2e2e2));
	background-image:         linear-gradient(to bottom, #dbdbdb 0%, #e2e2e2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
	background-repeat: repeat-x;
	-webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
	box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
}


.navbar-default .navbar-brand {
  color: #213C59;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #1D74D0;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #213C59;
}
.navbar-default .navbar-nav > li > a {
  color: #213C59;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #1D74D0;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #1D74D0;
}

.dropdown-large {
	position: static !important;
}
.dropdown-menu-large {
	margin-left: 16px;
	margin-right: 16px;
	padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
	padding: 0;
	margin: 0;
}
.dropdown-menu-large > li > ul > li {
	list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #333333;
	white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
	color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
	text-decoration: none;
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
	color: #428bca;
	font-size: 18px;
}
@media (max-width: 768px) {
	.dropdown-menu-large {
		margin-left: 0;
		margin-right: 0;
	}
	.dropdown-menu-large > li {
		margin-bottom: 30px;
	}
	.dropdown-menu-large > li:last-child {
		margin-bottom: 0;
	}
	.dropdown-menu-large .dropdown-header {
		padding: 3px 15px !important;
	}
}


.first-nav-menu-list-group {
	padding-left: 20px;
}

.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
	#border: 0;
	border-bottom: 1px solid #AAAAAA;
	border-radius: 0px;
}

.navbar-nav > li > a > i {
	margin-top: -5px;
	font-size: 2em;
	vertical-align: middle;
	line-height: 0;
}

.navbar-nav > li > a {
	font-size: 1em;
	vertical-align: middle;
}

.navbar-brand {
	padding: 13px 15px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later
#main-sidebar {
  display: none;
	padding: 0px;
}*/

#main-content-view {
	position: fixed;
	top: 50px;
	bottom: 0px;
	left: 160px;
	right: 0px;
	z-index: 1000;
	display: block;
	overflow-x: auto;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.section-container {
	position: absolute;
	display: block;

	top: 0;
	bottom: 0;
	left: 0;
	right: 2px;
}

#main-content-view .page-header {
  margin-top: 0;
}

.k-widget.k-splitter {
	height: 100%;
	padding: 0 !important;
	margin: 0 !important;
}


/* xs */
@media (max-width: 767px) {

	#main-sidebar {
		width: 44px !important;
	}

	#main-sidebar:hover {
		width: 160px !important;
	}


	#main-content-view {
		left: 44px !important;
	}

}

#main-sidebar-toggle-btn
{
    background: #213C59;
	border: none;
    border-radius: 0;

	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 35px;
	text-align: right;
	padding: 2px 15px;
	font-size: 1.5em;
	font-weight: 900;
}

#main-sidebar-toggle-btn:hover
{
    background: #305C8C;
}

/* between sm - md
@media (min-width: 768px) and (max-width: 991px) {

	#main-sidebar {
		margin-top: 50px;
	}

	#main-content-view {
		margin-top: 50px;
	}
}
*/

#main-content-view.toggled-main-sidebar {
	left: 44px !important;
}

#main-sidebar {
	position: fixed;
	top: 50px;
	bottom: 0;
	left: 0;
	width: 160px;
	z-index: 1001;
	display: block;
	overflow: hidden;
	background-color: #213C59;/* WAS: #0A2F57 */
}

#main-sidebar.toggled-main-sidebar {
	width: 44px !important;
}

#main-sidebar.toggled-main-sidebar:hover {
	width: 160px !important;
}

.main-sidebar-menu {
	position: absolute;
	top: 50px;
	bottom: 35px;
	left: 0;
	right: 0;
	min-width: 160px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #213C59;
}

.main-sidebar-menu ul.k-panelbar {
	border: none;
}

.main-sidebar-menu .k-panelbar > li ul,
.main-sidebar-menu .k-panelbar > li > span.k-header {
	border-bottom-width: 0px !important;
}

.main-sidebar-menu .k-panelbar > li > a {
	border: none !important;
}

.main-sidebar-menu .k-panelbar > li ul > li {
	background-color: #325173;
}

.main-sidebar-menu .k-panelbar > li ul > li .k-link {
	background-color: #325173;
	color: #fff;
}

.main-sidebar-menu .k-panelbar > li ul > li .k-link:hover {
	color: #adf;
}

.main-sidebar-menu .k-state-selected {
	background-color: #1F558F;
}

.main-sidebar-menu .k-state-selected:hover {
	background-color: #1F4773;
}

.main-sidebar-menu .k-panelbar > li ul > li .k-link.k-state-selected,
.main-sidebar-menu .k-panelbar > li ul > li .k-link.k-state-selected.k-state-focus {
	background-color: #216EC2;
}


.main-sidebar-menu .k-panelbar > li.k-state-default > .k-header
{
	padding: 13px 15px;
	line-height: 1;
	font-weight: 600;
	box-shadow: none;
}

.main-sidebar-menu .k-panelbar > li.k-state-default > ul.k-panel > li.k-item > .k-link
{
	line-height: 1;
	padding-top: 10px;
	padding-bottom: 10px;
}

.main-sidebar-menu > ul 
{
	border: none !important;
}

.main-sidebar-menu ul.k-panelbar li.k-item .k-icon {
	-webkit-filter: invert(100%);
	-moz-filter: invert(100%);
	filter: invert(100%);
}

.main-sidebar-menu .k-panelbar > li.k-state-default > .k-header:not(.k-state-selected)
{
	color: #CFE6FA;
	background-color: #213C59 !important;
	border-color: #213C59;
}

.main-sidebar-menu .k-panelbar > li.k-state-default.k-state-active > .k-state-selected.k-link
{
	background-color: #213C59;
	color: #CCDBE8;
	box-shadow: none;
}

.main-sidebar-menu li i.fa {
	font-size: 1.25em;
	width: 30px;
	text-align: center;
	margin-right: 8px;
}

.main-sidebar-menu > ul > li .k-link.k-header {
	padding: 11px 5px 11px 7px !important;
}

.main-sidebar-select-container {
	padding: 7px 9px;
	#border-color: #213C59;
}

.main-sidebar-select-container > .k-dropdown .k-dropdown-wrap,
.main-sidebar-select-container > .k-dropdown.k-state-border-down .k-dropdown-wrap.k-state-border-down {
	color: #fff !important;
	background-color: #217015;
	border-color: #217015;
}

.main-sidebar-select-container > .k-dropdown .k-dropdown-wrap .k-input {
	color: #fff;
}

/*******************************
 * KENDO-UI VALIDATION TOOLTIP
 ******************************/
.k-widget.k-tooltip
{
	background-color: #FCFFC4;
	border-color: #E9F241;
	color: #282828;

	display: inline-block;
	text-align: left;
	white-space: nowrap;
	padding: 10px;
	margin: 5px;
}

.k-image, .k-tooltip {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.k-callout-n {
	border-bottom-color: #DBC951;
}
.k-callout-e {
	border-left-color: #DBC951;
}
.k-callout-s {
	border-top-color: #DBC951;
}
.k-callout-w {
	border-right-color: #DBC951;
}

.k-widget.k-tooltip.form-validation-hint {
	background-color: #F7DCDC;
	border-color: #FFA6A6;
	color: #800000;

	padding: 6px 10px;
}


.form-validation-hint > .k-callout-n {
	border-bottom-color: #FF9191;
}
.form-validation-hint > .k-callout-e {
	border-left-color: #FF9191;
}
.form-validation-hint > .k-callout-s {
	border-top-color: #FF9191;
}
.form-validation-hint > .k-callout-w {
	border-right-color: #FF9191;
}


.k-invalid-msg
{
	display: none !important;
}

.k-invalid
{
	border: 1px solid red;
}

.required {
	font-weight: bold;
}

.accept, .status {
	padding-left: 90px;
}
.confirm {
	text-align: right;
}

.valid {
	color: green !important;
}

.invalid {
	color: red !important;
}

span.k-tooltip {
	margin-left: 6px;
}

hr.section-divider {
	background-color: #e3eaf3;
    margin: 0;
	border-left: medium none;
    border-top: 1px solid #c7c7c7;
    height: 3px;
}

/******************************************************
*   GRID CONTAINER
******************************************************/

.k-grid {
	border-radius: 1px !important;
}

.grid-container {
	margin: 20px 20px 5px 20px !important;
}

.editable-grid-container {
	margin: 0 !important;
}

.editable-grid-container > .editable-grid-buttons > button {
	padding: 2px 15px !important;
	border-radius: 2px;
	color: #416C96;
}

.editable-grid {
	margin-bottom: 10px;
}

.filtrable-grid .k-grid-content table > tbody > .k-alt.ng-scope:not(.k-state-selected),
.editable-grid table > tbody > .k-alt.ng-scope:not(.k-state-selected)
{
    background: transparent;
}

.filtrable-grid .k-grid-header-wrap > table .k-header {
	background-color: #E6ECF2 !important;
}

.filtrable-grid .k-grid-header-wrap > table .k-filter-row {
	background-color: #F2F8FC;
}

.filtrable-grid .k-grid-content table > tbody > tr > td {
	border-left: 0;
}

.editable-grid > table .k-header {
	background-color: #E4EDF2 !important;
	border-color: #8CBFE6 !important;
}

.editable-grid > table tfoot > tr > td {
	border-top: solid 2px #bbb;
	border-left: 0;
	background-color: #eee !important;
	text-align: right;
	padding-right: 10px;
	font-weight: 600;
}

.editable-grid .row-col {
	background-color: #F2FAFF;
}

.editable-grid > table input.k-textbox {
	text-indent: 0.1em;
}

.editable-grid tbody > tr {
	height: 40px !important;
}

.editable-grid tbody > tr.k-grid-edit-row {
	background-color: #EDF5FA !important;
	height: 50px;
}

.editable-grid tbody > tr.k-grid-edit-row > td:first-child {
	background-color: #7EB9D9 !important;
	color: #ffffff;
	font-weight: bold;
}

.editable-grid .numeric-cell{
	text-align: right;
}

.editable-grid .numeric-cell .k-numerictextbox input {
	width: 95%;
    text-align: right;
    padding-right: 5px !important;
}

.editable-grid .vat-cell > i.fa-check,
.editable-grid .vat-cell > input {
	display: block;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

.destroy-btn-cls {
	padding: 7px 0 !important;
	margin: 0 !important;
	text-indent: 0 !important;
	height: 39px !important;
	width: 100% !important;
	min-width: 30px !important;
	border: none !important;
	border-radius: 0 !important;
	background: transparent;
}

.editable-grid tbody > tr.k-grid-edit-row .destroy-btn-cls {
	height: 49px !important;
	padding: 11px 0 !important;
}

.editable-grid tbody > tr > td:last-child {
	padding: 0 !important;
}


/*****************************************
*   SECTION/SIMPLE CONTAINER
*****************************************/

.section-container-fluid {
	padding: 30px;
}

.section-container-fluid .section-header {
	font-size:2em;
	padding-bottom: 20px;
	border-bottom: 1px solid #AAA; 
    display: block;
    margin-bottom: 35px;
}

.section-container-fluid .section-footer {
    border-top: 1px solid #AAA ; 
    margin-top: 35px;
    padding-top:20px;
    display: block;
}

/******************************
*  SECTION/SPLITTER CONTAINER
*******************************/

.section-splitter-container {
	border: 0;
	overflow-x: hidden;
}

.left-pane,
.section-splitter-container .k-splitbar
{
	background-color: #f0f0f0;
	#border-top: 1px solid #BBBBBB;
}

.splitter-toggle-btn
{
    background: #f0f0f0;

	position: absolute;
	top: 5px;
	left: 0;
	padding: 8px;
	z-index: 2;
	color: #555;

    border: 1px solid #BBBBBB;
	border-left: none;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.splitter-toggle-btn-right
{
    background: #f0f0f0;

	position: absolute;
	top: 10px;
	right: 16px;
	padding: 8px;
	z-index: 2;
	color: #555;

    border: 1px solid #BBBBBB;
	border-right: none;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.splitter-toggle-btn:hover,
.splitter-toggle-btn-right:hover {
    background: #ddd;
    border-color: #aaa;
}


.left-pane-header {
	position: absolute;
	display: block;
	top: 0px;
	left: 20px;
	right: 5px;
}

.left-header-title-btn {
	position: absolute;
	font-size: 18px;
	padding: 12px 8px 8px 0;
	top: 0;
	left: 0;
}

.left-header-plus-btn {
	position: absolute;
	font-size: 20px;
	padding: 12px 7px 8px 10px;
	top: 0;
	right: 0;
}

.left-header-search
{
	position: absolute;
	top: 50px;
	width: 100%;
	left: 0px;
	right: 0px;
}

.left-header-search > input.form-control
{
	z-index: 0;
}

.left-pane-body {
	position: absolute;
	display: block;
	top: 100px;
	bottom: 0px;
	left: 20px;
	right: 0px;
	overflow-y: auto;
	padding-right: 3px;
}

.right-pane {
	border-left: 1px solid #BBBBBB;
}

.create-new-dropdown{
	position: absolute;
	top: 15px;
	right: 20px;
	z-index: 2;
}

.right-pane-tabscontainer {
	position: absolute;
	display: block;

	top: 25px;
	bottom: 0px;
	left: 15px;
	right: 20px;
}

.right-pane-tabscontainer > ul.k-tabstrip-items > li.k-first {
	margin-left: 35px;
}

.right-pane-tabscontainer > ul.k-tabstrip-items {
	border-bottom: 1px solid #BBBBBB;
	margin-bottom: 15px;
	margin-left: -15px;
	padding-left: 15px;
	margin-right: -20px;
	padding-right: 20px;
}

.right-pane-tabscontainer > ul > li,
.right-pane-tabscontainer > ul > li > .k-loading
{
	border: 0;
}

.right-pane-tabscontainer > ul > li.k-tab-on-top.k-state-active {
	border: 0;
	border-bottom: 4px solid #0A70FF;
	font-weight: 600;

	margin-bottom: 0;
	padding-bottom: 0;
}

.right-pane-tabscontainer > ul > li > a.k-link {
	padding-bottom: 10px;
}

.right-pane-tabscontainer > div.k-content {
	padding: 0px;
	margin: 0px;
	border: 0;
}

.right-pane-tabscontainer > ul > li > a {
	text-align: center;
}

.right-pane-tabscontainer > ul > li.k-tab-on-top {
	z-index: 0;
}

.right-pane-tabscontainer > div > .k-grid table
{
    min-width: 600px;
}

/******************************
*  REPORT CONTAINER
*******************************/

.report-tools-pane
{
	background-color: #f0f0f0;
	#border-top: 1px solid #BBBBBB;
}

.report-tools-header {
	position: absolute;
	display: block;
	top: 0;
	left: 0px;
	right: 5px;
}

.report-tools-run-button {
	position: absolute;
	display: block;
	left: 0;
	right: 3px;
	bottom: 22px;
}

.report-tools-filters {
	position: absolute;
	display: block;
	top: 150px;
	bottom: 60px;
	left: 0;
	right: 3px;
	overflow-y: auto;
}

.report-viewer-pane {
	border-right: 1px solid #BBBBBB;
	background-color: #f5f5f5;
}

.report-viewer {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-x: auto;
	overflow-y: scroll;
}

/*****************************************
*   HELPER / GENERAL CLASSES
*****************************************/

hr.toolbar-divider {
	background-color: #f5f5f5;
    margin: 2px 0;
	padding: 0;
	border-left: medium none;
    border-top: 1px solid #c7c7c7;
    height: 2px;
}

.label-underlined-form-item {
	padding-top: 3px;
	padding-bottom: 4px;
	margin-bottom: 5px;
	font-size: 1.3em;
	font-weight: 500;
	border-bottom: 1px solid #999;
	display: block;
}

.label-bonds {
    background-color: #AADFFA;
    color: #444444;
    font-weight: 600;
    font-size: 14px;
    margin: 3px;
    display: inline-block !important;
}

.label-as-input {
	padding-top: 7px;
	margin-bottom: 0;
	text-align: right;
	font-weight: 600;
	font-size: 16px;
}

.label-as-data {
	padding-top: 7px;
	margin-bottom: 0;
	font-weight: 400;
	font-size: 16px;
}

.label-sub-text {
	padding-top: 7px;
	margin-bottom: 0;
}

@media (max-width: 768px) {
	.label-sub-text {
		padding-left: 20px;
		margin-left: 20px;
    	display: table-cell !important;
	}
}

.label-inline {
    margin: 0 15px;
}

.initial-message-block {
	position: absolute;
	top: 100px;
	left: 50px;
	right: 50px;
	padding: 55px 85px;
	border-radius: 6px;
	background-color: #f0f0f0;
	color: #555;
}

.initial-message-block > h1 {
	font-weight: 900;
}

.overlay-container {
	position: relative;
}

.overlay {
	content: " ";
	display: none;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.2);
	background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC) repeat scroll transparent\9;
    z-index:9999;
    color:white;
}

/***  CANCEL BUTTON ***/
.btn-cancel {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}
.btn-cancel:active,
.btn-cancel.active {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-cancel .badge {
	text-shadow: none;
}
.btn-cancel {
	background-color: #7e7e7e;
	background-image: -moz-linear-gradient(top,#888888,#6f6f6f);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#888888),to(#6f6f6f));
	background-image: -webkit-linear-gradient(top,#888888,#6f6f6f);
	background-image: -o-linear-gradient(top,#888888,#6f6f6f);
	background-image: linear-gradient(to bottom,#888888,#6f6f6f);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff888888', endColorstr='#ff6e6e6e', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	background-repeat: repeat-x;
	border-color: #6f6f6f #6f6f6f #484848;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.btn-cancel:hover,
.btn-cancel:focus {
	background-color: #6f6f6f;
	border-color: #6f6f6f;
	background-position: 0 -15px;
	color: #DDDDDD;
}
.btn-cancel:active,
.btn-cancel.active {
	background-color: #7b7b7b;
	border-color: #6f6f6f;
}
.btn-cancel:disabled,
.btn-cancel[disabled] {
	background-color: #888888;
	border-color: #888888;
	background-image: none;
}

input[disabled],
input[disabled="disabled"],
input[readonly="readonly"],
input[readonly] {
    background-color: #E5E5E5 !important;
    cursor: not-allowed !important;
    opacity: 1 !important;
}