
html.body-home {
	height: 100% !important;
}


body.body-home {
	height: 100% !important;
	margin: 0px !important;

	background: rgb(254,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(254,255,255,1) 5%, rgba(210,235,249,1) 34%, rgba(202,231,247,1) 82%, rgba(235,241,244,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgba(254,255,255,1)), color-stop(34%,rgba(210,235,249,1)), color-stop(82%,rgba(202,231,247,1)), color-stop(100%,rgba(235,241,244,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 5%,rgba(210,235,249,1) 34%,rgba(202,231,247,1) 82%,rgba(235,241,244,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(254,255,255,1) 5%,rgba(210,235,249,1) 34%,rgba(202,231,247,1) 82%,rgba(235,241,244,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(254,255,255,1) 5%,rgba(210,235,249,1) 34%,rgba(202,231,247,1) 82%,rgba(235,241,244,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(254,255,255,1) 5%,rgba(210,235,249,1) 34%,rgba(202,231,247,1) 82%,rgba(235,241,244,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#ebf1f4',GradientType=0 ); /* IE6-9 */
}

.base-home {
	border: none !important;
	box-shadow: none !important;
	background-color: transparent!important;
}

.base {
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.35);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
	/* border-top: none; */
	border-radius: 10px;
	background-color: #f8f8f8;
}

.navbar-default {
	background-color: #f0f0f0;
}

.hide-menu {
	display: none;
}



p, span, a, ul, li, button {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

strong {
	font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	line-height: 1.5em;
	font-weight: 300;
}

strong {
	font-weight: 400;
}

.tiles-container > div {
	margin: 0px !important;
	padding: 4px !important;
	height: 158px !important;
}

.tile {
	width: 100%;
	height: 550px;
	display: inline-block;
	box-sizing: border-box;
	background: #fff;
	color: #fff;
	padding: 20px;
	overflow: hidden;
	border: 1px solid rgba(255,255,255, 0.11);
	#box-shadow: 0px 4px 10px 4px rgba(255,255,255,0.75);
	#box-shadow: 0px 3px 4px 1px rgba(0,0,0,0.35);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.65);
}


.tile:hover {
	text-decoration: none;
	color: #ddd;
}
.tile:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
	text-decoration: none;
}
.tile:active{
	background-image: none;
	text-decoration: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	#box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}


.vertical-tile-top {
	height: 70px !important;
	margin-bottom: 4px !important;
	padding: 15px !important;
}

.vertical-tile-bottom {
	height: 70px !important;
	padding: 15px !important;
}

.tile .title {
	margin-top: 0px;
}

.tile.violet {
	background: #9701aa; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #9701aa 0%, #9a51a5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#9701aa), color-stop(100%,#9a51a5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #9701aa 0%,#9a51a5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #9701aa 0%,#9a51a5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #9701aa 0%,#9a51a5 100%); /* IE10+ */
	background: linear-gradient(160deg,  #9701aa 0%,#9a51a5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9701aa', endColorstr='#9a51a5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.tile.violet:hover {
	background: #7D018B;
}
.tile.purple {
	background: #5133ab; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #5133ab 0%, #707cc9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#5133ab), color-stop(100%,#707cc9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #5133ab 0%,#707cc9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #5133ab 0%,#707cc9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #5133ab 0%,#707cc9 100%); /* IE10+ */
	background: linear-gradient(160deg,  #5133ab 0%,#707cc9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5133ab', endColorstr='#707cc9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.tile.purple:hover {
	background: #3e2784;
}
.tile.red {
	background: #ac193d; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #ac193d 0%, #aa5569 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ac193d), color-stop(100%,#aa5569)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #ac193d 0%,#aa5569 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #ac193d 0%,#aa5569 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #ac193d 0%,#aa5569 100%); /* IE10+ */
	background: linear-gradient(160deg,  #ac193d 0%,#aa5569 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac193d', endColorstr='#aa5569',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.tile.red:hover {
	background: #7f132d;
}
.tile.green {
	background: #00a600; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #00a600 0%, #51a551 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#00a600), color-stop(100%,#51a551)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #00a600 0%,#51a551 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #00a600 0%,#51a551 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #00a600 0%,#51a551 100%); /* IE10+ */
	background: linear-gradient(160deg,  #00a600 0%,#51a551 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a600', endColorstr='#51a551',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.tile.green:hover {
	background: #007300;
}
.tile.blue-sky {
	background: #0076ed; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #0076ed 0%, #4b9aea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#0076ed), color-stop(100%,#4b9aea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #0076ed 0%,#4b9aea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #0076ed 0%,#4b9aea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #0076ed 0%,#4b9aea 100%); /* IE10+ */
	background: linear-gradient(160deg,  #0076ed 0%,#4b9aea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0076ed', endColorstr='#4b9aea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.tile.blue-sky:hover {
	background: #1174E1;
}
.tile.blue-sea {
	background: #003ea3; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #003ea3 0%, #3c63a3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#003ea3), color-stop(100%,#3c63a3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #003ea3 0%,#3c63a3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #003ea3 0%,#3c63a3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #003ea3 0%,#3c63a3 100%); /* IE10+ */
	background: linear-gradient(160deg,  #003ea3 0%,#3c63a3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003ea3', endColorstr='#3c63a3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.tile.blue-sea:hover {
	background: #073683;
}
.tile.orange {
	background: #d65924; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #d65924 0%, #a88134 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#d65924), color-stop(100%,#a88134)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #d65924 0%,#a88134 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #d65924 0%,#a88134 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #d65924 0%,#a88134 100%); /* IE10+ */
	background: linear-gradient(160deg,  #d65924 0%,#a88134 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d65924', endColorstr='#a88134',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.tile.orange:hover {
	background: #b8431f;
}
.tile.yellow {
	background: #dbbc00; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #dbbc00 0%, #dbdd4f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#dbbc00), color-stop(100%,#dbdd4f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #dbbc00 0%,#dbdd4f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #dbbc00 0%,#dbdd4f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #dbbc00 0%,#dbdd4f 100%); /* IE10+ */
	background: linear-gradient(160deg,  #dbbc00 0%,#dbdd4f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbbc00', endColorstr='#dbdd4f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.tile.yellow:hover {
	background: #CCAD00;
}
.tile.dark {
	background: #4a4a4a; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #4a4a4a 0%, #707070 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#4a4a4a), color-stop(100%,#707070)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #4a4a4a 0%,#707070 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #4a4a4a 0%,#707070 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #4a4a4a 0%,#707070 100%); /* IE10+ */
	background: linear-gradient(160deg,  #4a4a4a 0%,#707070 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#707070',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.tile.dark:hover {
	background: #3A3A3A;
}

.tile.gray {
color: #777;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7fbfc+0,e0e0e0+100 */
background: #f7fbfc; /* Old browsers */
background: -moz-linear-gradient(top,  #f7fbfc 0%, #e0e0e0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7fbfc), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f7fbfc 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f7fbfc 0%,#e0e0e0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f7fbfc 0%,#e0e0e0 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f7fbfc 0%,#e0e0e0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */

}
.tile.gray:hover {
color: #333;
	background: #e0e0e0;
}
