.noOverflow {
	overflow: hidden;
}

.modal-wrapper {
	z-index: 1050;
	position: fixed;
}

.modal-wrapper .modal-backdrop {
	width: 100%;
	height: 100%;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.modal {
	display: block;
	overflow: auto;
	text-align: center;
}

.modal .modal-dialog {
	z-index: 1060;
	width: auto;
	text-align: left;
	/* on rétablit l'alignement du texte */
	-webkit-perspective: 1300px;
	-moz-perspective: 1300px;
	perspective: 1300px;
	max-width: 100%;
}

.modal .modal-dialog.no-backdrop .modal-backdrop {
	display: none;
}

.modal .modal-dialog .modal-content {
	z-index: 1050;
	border-radius: 2px;
	width: 600px;
	padding: 10px;
	max-width: 100%;
	margin: 0;
}

.flexbox .modal > .modal-backdrop {
	display: none;
}

.flexbox .modal .modal-dialog {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center;
	position: absolute;
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 10px;
	max-height: initial;
}

.no-flexbox .modal-dialog {
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 0;
	padding: 10px;
	max-height: 100%;
}

.no-flexbox .modal-dialog .modal-backdrop {
	display: none;
}

.no-flexbox.no-csstransforms .modal-dialog {
	left: auto;
	top: auto;
	margin: auto;
}

.lt-ie8 .modal-content {
	display: inline;
	zoom: 1;
}


.modal.modal-fullscreen {

	/* Maximize the main wrappers on the screen */
	/* Make the parent wrapper of the modal box a full-width block */
	/* Remove borders and effects on the content */
	/**
		 * /!\ By using this feature, you force the header and footer to be placed
		 * in an absolute position. You must handle by yourself the margin of the
		 * content.
		 */
}


.modal.modal-small .modal-dialog,
.modal.modal-medium .modal-dialog,
.modal.modal-large .modal-dialog,
.modal.modal-fullscreen .modal-dialog {
	margin: 0;
}

.modal.modal-small .modal-content,
.modal.modal-medium .modal-content,
.modal.modal-large .modal-content,
.modal.modal-fullscreen .modal-content {
	padding: 40px 0 50px;
}

.modal.modal-small .modal-content
{
	width: 300px;
}

.modal.modal-medium .modal-content
{
	width: 700px;
}

.modal.modal-large .modal-content
{
	width: 990px;
}

.modal.modal-fullscreen .modal-dialog,
.modal.modal-fullscreen .modal-content {
	width: 100%;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.modal.modal-fullscreen .modal-content {
	border: none;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: inherit;
	-moz-box-shadow: inherit;
	-o-box-shadow: inherit;
	box-shadow: inherit;
}

.modal.modal-fullscreen .modal-body {
	height: 100%;
	overflow-y: auto;
}

.modal.modal-small .modal-header,
.modal.modal-medium .modal-header,
.modal.modal-large .modal-header,
.modal.modal-fullscreen .modal-header
{
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
}

.modal.modal-small .modal-footer,
.modal.modal-medium .modal-footer,
.modal.modal-large .modal-footer,
.modal.modal-fullscreen .modal-footer
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.modal .modal-title {
	font-weight: 500;
	padding: 0px 10px;
}

.modal-close {
	float: right;
	color: #fff;
	text-shadow: 0 1px 0 #000;
	filter: alpha(opacity=90);
	opacity: .9;
}

.modal-close:hover,
.modal-close:focus {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=60);
	opacity: .6;
}

button.modal-close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
}

.modal .modal-close > .fa-times {
	font-size: 1.8em;
}

.modal .modal-header {
	padding: 7px 12px;
	margin: 0;
	background-color: #377CAD;
	color: #fff;
}

.modal .modal-body {
	padding: 18px 25px 25px 25px;
}

.modal .modal-footer {
	padding: 8px 18px;
	margin: 0;
	background-color: #00508A;
	color: #fff;
}

