.noOverflow {
	overflow: hidden;
}

.modal-wrapper {
	z-index: 1050;
	position: fixed;
}

.modal-wrapper .modal-backdrop {
	width: 100%;
	height: 100%;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.modal {
	display: block;
	overflow: auto;
	text-align: center;
}

.modal .modal-dialog {
	z-index: 1060;
	width: auto;
	text-align: left;
	/* on rétablit l'alignement du texte */
	-webkit-perspective: 1300px;
	-moz-perspective: 1300px;
	perspective: 1300px;
	max-width: 100%;
}

.modal .modal-dialog.no-backdrop .modal-backdrop {
	display: none;
}

.modal .modal-dialog .modal-content {
	z-index: 1050;
	border-radius: 2px;
	width: 600px;
	padding: 10px;
	max-width: 100%;
	margin: 0;
}

.flexbox .modal > .modal-backdrop {
	display: none;
}

.flexbox .modal .modal-dialog {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	-ms-flex-pack: center;
	position: absolute;
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 10px;
	max-height: initial;
}

.no-flexbox .modal-dialog {
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 0;
	padding: 10px;
	max-height: 100%;
}

.no-flexbox .modal-dialog .modal-backdrop {
	display: none;
}

.no-flexbox.no-csstransforms .modal-dialog {
	left: auto;
	top: auto;
	margin: auto;
}

.lt-ie8 .modal-content {
	display: inline;
	zoom: 1;
}

.modal-dialog.modal-small .modal-content,
.modal-dialog.modal-medium .modal-content,
.modal-dialog.modal-large .modal-content,
.modal-dialog.modal-fullscreen .modal-content {
	padding: 40px 0 50px;
}

.modal-dialog.modal-small .modal-content {
	width: 350px;
}

.modal-dialog.modal-medium .modal-content {
	width: 700px;
}

.modal-dialog.modal-large .modal-content {
	width: 970px;
}

.modal-dialog.modal-fullscreen ,
.modal-dialog.modal-fullscreen .modal-content{
	width: 100%;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.modal-dialog.modal-fullscreen .modal-content {
	border: none;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: inherit;
	-moz-box-shadow: inherit;
	-o-box-shadow: inherit;
	box-shadow: inherit;
}

.modal-dialog.modal-fullscreen .modal-body {
	height: 100%;
	overflow-y: auto;
}

.modal-dialog.modal-small .modal-header,
.modal-dialog.modal-medium .modal-header,
.modal-dialog.modal-large .modal-header,
.modal-dialog.modal-fullscreen .modal-header
{
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
}

.modal-dialog.modal-small .modal-footer,
.modal-dialog.modal-medium .modal-footer,
.modal-dialog.modal-large .modal-footer,
.modal-dialog.modal-fullscreen .modal-footer
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.modal .modal-title {
	font-weight: 500;
	padding-left: 13px;
	padding-top: 5px;
	font-size: 20px;
	display: block;
	float: left;
}

.modal-header-btn {
	width: 40px;
	height: 40px;
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 0 #000;
	filter: alpha(opacity=90);
	opacity: .9;
}

.modal-header-btn:hover,
.modal-header-btn:focus {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=60);
	opacity: .6;
}

button.modal-header-btn {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
}

button.modal-header-btn > .fa {
	font-size: 1.8em;
}

button.modal-header-btn.close-modal {
	float: right;
	border-left: 1px solid #bbb;
}

button.modal-header-btn.recent-btn {
	float: left;
	border-right: 1px solid #bbb;
	display: block;
}

.modal .modal-header {
	padding: 0;
	margin: 0;
	background-color: #416C96;
	color: #fff;
}

.modal .modal-body {
	padding: 25px 25px 30px 25px;
}

.modal .bottom-margin-space {
	margin-top: 33px;
	display: block;
	content: " ";
}

.modal .modal-footer {
	padding: 8px 18px 8px 10px;
	margin: 0;
	background-color: #15304D;
	color: #fff;
}

.modal .modal-header .btn-tools {
	margin-right: 20px;
	color: #bbb;
}

.modal .modal-header .btn-tools .btn-link {
	color: #e0e0e0;
	padding-left: 2px;
	padding-right: 2px;
	height: 40px;
}

.modal .modal-header.danger-message-alert {
	background-color: #c12e2a;
}
.modal .modal-header.warning-message-alert {
	background-color: #eb9316;
}
.modal .modal-header.success-message-alert {
	background-color: #76BD4D;
}
.modal .modal-header.info-message-alert {
	background-color: #2aabd2;
}

.modal .modal-footer.danger-message-alert {
	background-color: #FFE1DB; /*#FFCDCC*/
}
.modal .modal-footer.warning-message-alert {
	background-color: #FFF8E6;
}
.modal .modal-footer.success-message-alert {
	background-color: #ECFFE3;
}
.modal .modal-footer.info-message-alert {
	background-color: #DBF7FF;
}

.modal .modal-body.message-alert-popup {
	padding: 65px;
	font-size: 18px;
	font-weight: 400;
}

.modal .modal-footer .btn-link {
	color: #0066DD;
}

.modal .modal-footer .btn-danger {
	min-width: 80px;
}

.modal .modal-dialog .alert .modal-backdrop {
	display: none;
}
