
<div class="container-fluid section-container-fluid">

	<div class="section-header">Grupet e artikujve</div>
	
	<form ace-tooltip-validator class="form-widgets" id="form">
   	<div class="row"> 
	    <div class="col-md-5">   
			<div class="form-group">
				<label class=" control-label" translate="">Grupi</label>
				<input ace-combo-box class="k-form-control" ace-model="model.name"
					   ace-load-url="/warehouse/itemgroups/load" ace-data-text-field="name"/>
			</div>
			<div class="form-group">
				<label class=" control-label" translate="">Pershkrimi</label>
				<textarea ng-model="model.description" name="description" class="form-control" rows="1"></textarea>
			</div>
			<div class="form-group">
				<label class=" control-label" translate="">Metoda kontabel e inventarizimit</label>
				<input ace-combo-box="accountinginventorymethod" class="k-form-control" ace-model="model.id_accountinginventorymethod"
					   ace-datasource="accountinginventorymethod_data" />
			</div> 

			<div class="form-group">
				<label class=" control-label" translate="">Skema e LLogarive</label>
				<input ace-combo-box class="k-form-control" ace-model="model.id_item_accounts_schema"
					   ace-load-url="/warehouse/itemgroups/load"  ace-data-text-field="id_item_accounts_schema" />
			</div>	
	    </div>
	</div>
</form>
	<div class="section-footer">
		<button type="button" class="btn btn-cancel" ng-click="refresh()" translate="FORM.CANCEL"></button>
		<button type="button" class="btn btn-success" ng-click="save()" translate="FORM.SAVE_CHANGES"></button>
	</div>
</div>
