<!-- https://docs.angularjs.org/api/ng/filter/filter -->

<style>
	
	.tree-view-container {
		position: absolute;
		display: block;
		top: 70px;
		bottom: 0px;
		left: 20px;
		right: 5px;
		overflow-y: auto;
		padding-right: 3px;
	}

	.tree-view-overlay {
		position: absolute;
		display: block;
		top: 70px;
		bottom: 0px;
		left: 20px;
		right: 5px;
		overflow-y: auto;
		padding-right: 3px;
	}

	.btn-top-group {
		position: absolute;
		top: 30px;
		bottom: 0px;
		left: 20px;
		right: 5px;
	}


	#btn-container {
		position: absolute;
		display: block;
		top: 30px;
		bottom: 0px;
		left: 20px;
		right: 5px;
		padding-right: 3px;
		overflow-y: auto;
		padding-right: 3px;
	}


	#books-btn-container {
		position: absolute;
		display: block;
		top: 15px;
	}

	#books-grid-container {
		margin: 55px 15px 15px 15px !important;
	}
	#footer-container {
		position: absolute;
		display: block;
		bottom: 15px;
	}

</style>

<div class="section-container">

 <div kendo-splitter="splitter" id="splitter" class="section-splitter-container" k-orientation="'horizontal'"
		k-panes="[{collapsible: true, size: '240px', min: '150px'}, {collapsible: true}]">

		<!--div class="left-pane">
			<div class="left-pane-header">
				<a type="button" id="appendNodeToSelected" class="btn btn-success" ng-click="save()" translate="FORM.SAVE_CHANGES"></a>
			</div>
			<div class="left-pane-body">
				<div kendo-tree-view="tree" class="tree-view-container" k-options="treeOptions"></div>
			</div>	
		</div-->

	    <div class="left-pane">
		    <div class="btn-top-group">
			    <a type="button" ng-show="selectedItem['type']=='itemgroup' || selectedItem['type']=='itemtype'" class="btn btn-success" ng-click="createNewGroup()" translate="ITEMGROUP.NEW_GROUP"></a>
			    <a type="button" ng-show="selectedItem['type']=='itemgroup' || selectedItem['type']=='itemtype'" class="btn btn-danger" ng-click="save()" translate="ITEMGROUP.DELETE_GROUP"></a>
            </div>
			<div kendo-tree-view="tree" class="tree-view-container" ng-enabled="false" ng-click="change()" k-options="treeOptions"></div>
			<div class="overlay"></div>
	    </div>
		
	  	<div class="right-pane">
			<div class="container-fluid section-container-fluid">
				<div class="section-header"> {{'ITEMGROUP.TITLE' | translate }} </div>
					<form ace-tooltip-validator class="form-widgets" id="form">
						<div class="row"> 
							<div class="col-md-6">   
								<div class="form-group">
								<label class=" control-label" translate="ITEMGROUP.GROUP"></label>
								<!--input ace-combo-box class="k-form-control" ace-model="model.name"
								ace-load-url="/warehouse/itemgroups/load" ace-data-text-field="name"/-->
								<input ng-model="selectedItem.name" type="text" class="form-control" required />
								</div>
								<div class="form-group">
								<label class=" control-label" translate="INPUTS.DESCRIPTION"></label>
								<textarea ng-model="selectedItem.description" class="form-control" rows="1"></textarea>
								</div>
								<div class="form-group">
								<label class=" control-label" translate="ITEMGROUP.METOD_CON_INV"></label>
								<input ace-drop-down-list="accountinginventorymethod" ace-model="selectedItem.accountinginventorymethod_name" 
									class="k-form-control" ace-datasource="accountinginventorymethod_data" />
								</div> 
								<!--div class="form-group">
								<label class=" control-label" translate="">Skema e LLogarive</label>
								<input ace-combo-box ace-model="selectedItem.id_item_accounts_schema" class="k-form-control" ace-load-url="/warehouse/itemgroups/load" ace-data-text-field="id_item_accounts_schema" />
								</div-->	
							</div>
						</div>
					</form>
					<div class="section-footer">
						<button type="button" class="btn btn-cancel" ng-click="refresh()" translate="FORM.CANCEL"></button>
						<button type="button" class="btn btn-primary" ng-click="save()" translate="FORM.SAVE_CHANGES"></button>
					</div>
			</div>
 		</div>
 </div>	
</div>
