<div class="modal-header">
	<button type="button" class="modal-header-btn close-modal" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()"><i class="fa fa-times"></i></button>
	<button type="button" class="modal-header-btn recent-btn"><i class="fa fa-bars"></i></button>
	<span class="modal-title" translate="ACC_DOCTYPE.SALES_INVOICE"></span>
</div>

<div class="modal-body">

	<style>

	</style>
	<form ace-tooltip-validator class="form-horizontal" id="form">

		<div class="row">
			<div class="col-md-5">
				<div class="form-group">
					<label class="col-md-2 control-label required" translate="ACC_COMMON.CUSTOMER"></label>
					<div class="col-md-9">
						<input ace-combo-box="contactsCombo" class="k-form-control" ng-disabled="itemsGridFilled"
						       ace-model="model.id_contact" ace-datasource="customers"
						       ace-data-text-field="display" on-change="contactChange(event)" required/>
						<button class="btn btn-xs btn-info" style="margin-top: 0px !important;" ng-show="!showCurrency"
					        ng-click="showCurrency=true"><span translate="CURRENCY.CURRENCY"/>: <b>{{ home_currency['name'] }}</b></button>
					</div>
				</div>

				<div class="form-group" ng-show="showCurrency">
					<label class="col-md-2 control-label" translate="CURRENCY.CURRENCY"></label>
					<div class="col-md-3">
						<input ace-drop-down-list="currencyCombo" class="k-form-control" ng-disabled="itemsGridFilled"
						       ace-model="model.id_currency" ace-datasource="currencies" on-change="currencyChange(event)"/>
					</div>
					<div class="col-md-3">
						<input kendo-numeric-text-box ng-model="model.exchange_rate" ng-disabled="model.id_currency == home_currency['id'] || itemsGridFilled"
						       ng-blur="updateExchangeRate()" k-format="'n2'" k-spinners="false" k-decimals="5" type="text" class="k-form-control" required/>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="form-group">
					<label class="col-md-3 control-label" translate="INPUTS.DOC_NUMBER"></label>
					<div class="col-md-9">
						<input ng-model="model.document_number" type="text" name="document_number" class="form-control" required ng-disabled="model.document_number=='(auto)'"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" translate="INPUTS.SERIAL"></label>
					<div class="col-md-9">
						<input ng-model="model.serial_number" type="text" name="serial_number" class="form-control" required ng-disabled="model.serial_number=='(auto)'"/>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group">
					<label class="col-md-3 control-label" translate="INPUTS.DATE"></label>
					<div class="col-md-9">
						<input ace-date-picker ace-model="model.document_date" class="k-form-control" required/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" translate="INPUTS.DESCRIPTION"></label>
					<div class="col-md-9">
						<textarea ng-model="model.description" name="description" class="form-control" rows="1"></textarea>
					</div>
				</div>
			</div>

		</div>

		<span class="btn btn-link btn-lg btn-block" style="text-align: left;" ng-click="toggleItems = !toggleItems">
			<span ng-show="!toggleItems" class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
			<span ng-show="toggleItems" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
			<span translate="ACC_COMMON.ITEMS_BODY"></span></span>
		<div ng-show="toggleItems" ace-overlay="!selectedContact['id']" class="row editable-grid-container" >
			<div id="itemsGrid" class="editable-grid" data-kendo-grid="itemsGrid" k-options="itemsGridOptions"></div>
			<div class="col-md-4 editable-grid-buttons">
				<button class="btn btn-default btn-sm" ng-click="addExtraRows('items')" translate="FORM.ADD_ROWS"></button>
				<button class="btn btn-default btn-sm" ng-click="resetRowData('items')" translate="FORM.CLEAR_ROWS"></button>
			</div>
		</div>
		<hr ng-show="!toggleItems" class="section-divider">

		<span class="btn btn-link btn-lg btn-block" style="text-align: left; margin-top: 40px;" ng-click="toggleAccounts = !toggleAccounts">
			<span ng-show="!toggleAccounts" class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
			<span ng-show="toggleAccounts" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
			<span translate="ACC_COMMON.ACCOUNTS_BODY"></span></span>
		<div ng-show="toggleAccounts" ace-overlay="!selectedContact['id']" class="row editable-grid-container" >
			<div id="accountsGrid" class="editable-grid" data-kendo-grid="accountsGrid" k-options="accountsGridOptions"></div>
			<div class="col-md-4 editable-grid-buttons">
				<button class="btn btn-default btn-sm" ng-click="addExtraRows('accounts')" translate="FORM.ADD_ROWS"></button>
				<button class="btn btn-default btn-sm" ng-click="resetRowData('accounts')" translate="FORM.CLEAR_ROWS"></button>
			</div>
		</div>
		<hr ng-show="!toggleAccounts" class="section-divider">


		<div class="row" style="margin-top: 50px; margin-bottom: 50px;">

			<div class="col-md-5" style="margin-top: 20px;">

				<div class="form-group">
					<label class="col-md-3 control-label required" translate="ACC_COMMON.WAREHOUSE"></label>
					<div class="col-md-8">
						<input ace-combo-box="customer_combo" class="k-form-control" ace-model="model.id_warehouse"
						       ace-load-url="/warehouse/warehouses/load" ace-data-text-field="code_name"/>
					</div>
				</div>

				<hr class="col-md-8 col-md-offset-3" style="margin-top: 3px !important;">


				<div class="form-group">
					<label class="col-md-3 control-label" translate="ACC_COMMON.PAYMENT_TERMS"></label>
					<div class="col-md-6">
						<input ace-drop-down-list class="k-form-control" ace-model="model.id_commercialterms" ace-datasource="commercialterms"/>
					</div>
				</div>
				<!--div class="form-group">
					<label class="col-md-3 control-label" translate="ACC_COMMON.PAYMENT_DATE"></label>
					<div class="col-md-6">
						<input ace-date-picker ace-model="model.document_date" class="k-form-control" required/>
					</div>
				</div-->
				<div class="form-group">
					<label class="col-md-3 control-label" translate="ACC_COMMON.SALES_PERSON"></label>
					<div class="col-md-6">
						<input ng-model="model.agent" type="text" name="agent" class="form-control" />
					</div>
				</div>
			</div>

			<div class="col-md-4 col-md-offset-3 col-lg-3 col-lg-offset-4">
				<div class="form-group">
					<span class="col-md-7 control-label" translate="FORM.SUBTOTAL"></span>
					<div class="col-md-5 control-label">
						<span>{{ (itemsSubtotalNoTax + accountsSubtotalNoTax) | kendoNumber:'c2'}} {{ currencyCombo.text() }}</span>
					</div>
				</div>
				<div class="form-group">
					<span class="col-md-7 control-label" translate="FORM.TAX_AMOUNT"></span>
					<div class="col-md-5 control-label">
						<span>{{ (itemsTaxableSubtotal + accountsTaxableSubtotal) | kendoNumber:'c2'}} {{ currencyCombo.text() }}</span>
					</div>
				</div>
				<hr>
				<div class="form-group">
					<label class="col-md-7 control-label" translate="FORM.TOTAL"></label>
					<div class="col-md-5 control-label">
						<label>{{ (itemsSubtotalWithTax + accountsSubtotalWithTax) | kendoNumber:'c2'}} {{ currencyCombo.text() }}</label>
					</div>
				</div>
				<div class="form-group" ng-show="model.id_currency != home_currency['id']">
					<span class="col-md-7 control-label" translate="CURRENCY.HOME_CURRENCY"></span>
					<div class="col-md-5 control-label">
						<span>{{ (itemsSubtotalWithTax + accountsSubtotalWithTax) * model.exchange_rate | kendoNumber:'c2'}} {{ home_currency['name'] }}</span>
					</div>
				</div>
			</div>
		</div>

	</form>
</div>
<div class="modal-footer" style="text-align: center;">
	<div class="pull-left">
		<button type="button" class="btn btn-cancel" data-dismiss="modal" ng-click="closeModal()" translate="FORM.CANCEL"></button>
		<button type="button" class="btn btn-danger" ng-click="delete()" translate="FORM.DELETE"></button>
	</div>
	<!--button type="button" class="btn btn-link" ng-click="print()" translate="FORM.PRINT"></button-->
	<div class="pull-right">
		<button type="button" class="btn btn-success" ng-click="save('close')" translate="FORM.SAVE_CLOSE"></button>
		<div class="btn-group dropup">
			<button type="button" class="btn btn-info" type="button" ng-click="save('new')" translate="FORM.SAVE_NEW"></button>
			<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdownonpopup" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">extra</span>
			</button>
			<ul role="menu" class="dropdown-menu dropdown-menu-right">
				<li><a href="" ng-click="reset()" translate="FORM.RESET"></a></li>
				<li class="divider"></li>
				<!--li><a href="" ng-click="save('draft')" translate="FORM.SAVE_DRAFT"></a></li-->
				<li><a href="" ng-click="save('changes')" translate="FORM.SAVE_CHANGES"></a></li>
			</ul>
		</div>
	</div>
</div>