<!-- https://docs.angularjs.org/api/ng/filter/filter -->

<style>

	.left-pane-header {
		position: absolute;
		display: block;
		top: 0px;
		left: 20px;
		right: 5px;
	}

	.left-header-title-btn {
		position: absolute;
		font-size: 18px;
		padding: 12px 8px 8px 0;
		top: 0;
		left: 0;
	}

	.left-header-plus-btn {
		position: absolute;
		font-size: 20px;
		padding: 12px 7px 8px 10px;
		top: 0;
		right: 0;
	}

	.left-header-search
	{
		position: absolute;
		top: 50px;
		width: 100%;
		left: 0px;
		right: 0px;
	}

	.left-header-search > input.form-control
	{
		z-index: 0;
	}

	.left-pane-body {
		position: absolute;
		display: block;
		top: 100px;
		bottom: 0px;
		left: 20px;
		right: 0px;
		overflow-y: auto;
		padding-right: 4px;
	}

	.right-pane {
		border-left: 1px solid #BBBBBB;
	}

	.right-pane-header {
		position: absolute;
		display: block;

		top: 15px;
		right: 20px;

		z-index: 2;
	}

	.right-pane-tabscontainer {
		position: absolute;
		display: block;

		top: 25px;
		bottom: 0px;
		left: 15px;
		right: 20px;
	}

	.right-pane-tabscontainer > ul.k-tabstrip-items {
		border-bottom: 1px solid #BBBBBB;
		margin-bottom: 15px;
		margin-left: -15px;
		padding-left: 15px;
	}

	.right-pane-tabscontainer > ul > li,
	.right-pane-tabscontainer > ul > li > .k-loading
	{
		border: 0;
	}

	.right-pane-tabscontainer > ul > li.k-tab-on-top.k-state-active {
		border: 0;
		border-bottom: 4px solid #0A70FF;
		font-weight: 600;

		margin-bottom: 0;
		padding-bottom: 0;
	}


	.right-pane-tabscontainer > ul > li > a.k-link {
		padding-bottom: 10px;
	}

	.right-pane-tabscontainer > div.k-content {
		padding: 0px;
		margin: 0px;
		border: 0;
	}

	.right-pane-tabscontainer > ul > li > a {
		text-align: center;
	}

	.right-pane-tabscontainer > ul > li.k-tab-on-top {
		z-index: 0;
	}

	.right-pane-tabscontainer > div > .k-grid table
    {
        min-width: 600px;
    }

	.k-splitbar {
		background-color: #f4f4f4;
	}


	.k-alt.ng-scope:not(.k-state-selected)
	{
	    background: transparent;
	}

	.k-grid-content table > tbody > tr > td {
		border-left: 0;
		#border-right: 0;
	}

	.input-data-lbl {
		padding-top: 3px;
		padding-bottom: 4px;
		margin-bottom: 5px;
		font-size: 1.3em;
		font-weight: 500;
		border-bottom: 1px solid #999;
		display: block;
	}

</style>

<div class="section-container">

	<div kendo-splitter style="border: 0; overflow-x: hidden;"
		k-panes="[{collapsible: true, size: '13%', min: '150px'}, {size: '87%', min: '300px'}]"
		k-orientation="orientation" k-rebind="orientation">

	    <div style="background-color: #f4f4f4">
		    <div class="left-pane-header">
			    <a href="#" class="btn btn-link left-header-title-btn"><i class="fa fa-chevron-left"></i> Klientet</a>
                <a ui-sref="accounting/customersCreate" class="btn btn-link left-header-plus-btn"><i class="fa fa-plus"></i></a>
				<div class="input-group left-header-search">
				    <input type="text" placeholder="Kerko..." class="form-control" aria-label="...">
				    <div class="input-group-btn">
					    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-sort"></i></button>
					    <ul class="dropdown-menu dropdown-menu-right" role="menu">
						    <li><a href="#"><i class="fa fa-sort-alpha-asc"></i> Rendit Mbare</a></li>
						    <li><a href="#"><i class="fa fa-sort-alpha-desc"></i> Rendit Mbrapsht</a></li>
						    <li class="divider"></li>
						    <li><a href="#">Filtra tjere</a></li>
					    </ul>
				    </div><!-- /btn-group -->
			    </div>
            </div>
		    <div class="left-pane-body">
				<div infinite-scroll="loadMore()" infinite-scroll-distance="0" infinite-scroll-parent="true">
					<div class="list-group">
					    <a ng-repeat='item in listItems' href="#" class="list-group-item">{{item}}</a>
					</div>
			        <!--a href="#" class="list-group-item active">Cras justo odio</a-->
			    </div>
		    </div>
	    </div>
	    <div class="right-pane">
		    <div class="right-pane-header pull-right">
			    <div class="btn-group">
				    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
					    <i class="fa fa-plus"></i> Veprim i Ri <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu dropdown-menu-right" role="menu">
					    <li><a href="#">Fature Shitje</a></li>
					    <li><a href="#">Mandat Arketimi</a></li>
					    <li class="divider"></li>
						<li><a href="#">Urdher Shitje</a></li>
						<li><a href="#">Oferta te Dhena</a></li>
						<li><a href="#">Zbritje nga Shitjet</a></li>
						<li><a href="#">Kthim Fature Blerje</a></li>
					    <li class="divider"></li>
						<li><a href="#">Krijo Klient te Ri</a></li>
				    </ul>
			    </div>
		    </div>
		    <div kendo-tab-strip class="right-pane-tabscontainer" k-content-urls="[ null, null]">
			    <ul>
				    <li >Detajet e Klientit: <b>TeZgjedhur</b></li>
				    <li class="k-state-active">Veprimet/Dokumentat</li>
			    </ul>

			    <div class="form-horizontal">
				    <div class="row" style="padding-right: 15px; margin-bottom: 15px;">
						<button type="button" class="btn btn-warning pull-right">
						    <i class="fa fa-pencil-square-o"></i> Modifiko
					    </button>
				    </div>

					<div class="col-md-5">
					    <div class="form-group">
						    <label class="col-sm-3 control-label">Code</label>
						    <div class="col-sm-9">
							    <span class="input-data-lbl">{{model.id}}Code</span>
						    </div>
					    </div>
					    <div class="form-group">
						    <label class="col-sm-3 control-label">Email</label>
						    <div class="col-sm-9">
							    <span class="input-data-lbl">email@example.com</span>
						    </div>
					    </div>
					    <div class="form-group">
						    <label class="col-sm-3 control-label">Controller</label>
						    <div class="col-sm-9">
							    <span class="input-data-lbl">Controller Name</span>
						    </div>
					    </div>
					    <div class="form-group">
						    <label class="col-sm-3 control-label">Name</label>
						    <div class="col-sm-9">
							    <span class="input-data-lbl">Full Name</span>
						    </div>
					    </div>
			        </div>

			        <div class="col-md-5 col-md-offset-1">
					    <div class="form-group">
						    <label class="col-sm-3 control-label">Code</label>
						    <div class="col-sm-9">
							    <span class="input-data-lbl">{{model.id}}Code</span>
						    </div>
					    </div>
					    <div class="form-group">
						    <label class="col-sm-3 control-label">Email</label>
						    <div class="col-sm-9">
							    <span class="input-data-lbl">email@example.com</span>
						    </div>
					    </div>
					    <div class="form-group">
						    <label class="col-sm-3 control-label">Controller</label>
						    <div class="col-sm-9">
							    <span class="input-data-lbl">Controller Name</span>
						    </div>
					    </div>
					    <div class="form-group">
						    <label class="col-sm-3 control-label">Name</label>
						    <div class="col-sm-9">
							    <span class="input-data-lbl">Full Name</span>
						    </div>
					    </div>
			        </div>

			    </div>

			    <div>
				    <div id="grid" data-kendo-grid="grid" k-options="gridOptions"></div>
			    </div>

            </div>

	    </div>
	</div>

</div>


<style scoped>
    #grid .k-grid-toolbar
    {
        padding: .6em 1.3em;
    }
    .category-label
    {
        vertical-align: middle;
        padding-right: .5em;
    }
    #category
    {
        vertical-align: middle;
    }
    .toolbar {
        float: left;
    }
</style>
<script type="text/x-kendo-template" id="template">
    <div class="toolbar">
        <label class="category-label" for="category">Lloji:</label>
        <input type="search" id="category" style="width: 150px"/>
    </div>
</script>
