<ul kendo-panel-bar k-options="panelBarOptions">
	<li>
		<a ui-sref="accounting/transactions"><i class="fa fa-exchange"></i>{{'MENU.TRANSACTION' | translate }}</a>
	</li>
	<li>
		<a ui-sref="accounting/contacts"><i class="fa fa-users"></i>{{'MENU.CONTACTS' | translate }}</a>
	</li>
	<li>
		<i class="fa fa-shopping-cart"></i>{{'ACCOUNT_SCHEMAS.SALES' | translate }}
		<ul>
			<li><a ui-sref="accounting/contactsView">{{'MENU.CUSTOMERS_CENTER' | translate }}</a></li>
			<li><a ui-sref="accounting/salesinvoicesCreate">{{'ACC_DOCTYPE.SALES_INVOICE' | translate }}</a></li>
			<li><a ui-sref="accounting/cashreceiptsCreate">{{'ACC_DOCTYPE.CASH_RECEIPT' | translate }}</a></li>
			<li><a ui-sref="accounting/cashreceiptsCreate">{{'MENU.CASH_RECEIPT_WITH_ACC' | translate }}</a></li>
			<li><a ui-sref="accounting/exitwarehouseCreate">{{'ACC_DOCTYPE.WAREHOUSE_EXIT' | translate }}</a></li>
			<li><a ui-sref="accounting/salesorderCreate">{{'ACC_DOCTYPE.SALES_ORDER' | translate }}</a></li>
			<li><a ui-sref="accounting/requestoffersCreate">{{'ACC_DOCTYPE.PROPOSED_OFFER' | translate }}</a></li>
			<li>{{'ACC_DOCTYPE.SALES_DISCOUNT' | translate }}</li>
			<li>{{'ACC_DOCTYPE.RETURN_SALES' | translate }}</li>
		</ul>
	</li>
	<li>
		<i class="fa fa-truck"></i>{{'ACCOUNT_SCHEMAS.PURCHASE' | translate }}
		<ul>
			<li><a ui-sref="accounting/contactsView">{{'MENU.SUPPLIERS_CENTER' | translate }}</a></li>
			<li><a ui-sref="accounting/purchaseinvoicesCreate">{{'ACC_DOCTYPE.PURCHASE_INVOICE' | translate }}</a></li>
			<li>{{'ACC_DOCTYPE.CASH_PAYMENT' | translate }}</li>
			<li><a ui-sref="accounting/entrywarehouseCreate">{{'ACC_DOCTYPE.WAREHOUSE_ENTRY' | translate }}</a></li>
			<li><a ui-sref="accounting/purchaseorderCreate">{{'MENU.PURCHASEORDER' | translate }}</a></li>
			<li><a ui-sref="accounting/receivedoffersCreate">{{'MENU.RECEIVEDOFFERS' | translate }}</a></li>
			<li>{{'MENU.PURCHASE_DISCOUNT' | translate }}</li><!--ul>
					<li>test 1</li>
					<li>test 2</li>
					<li>test 3</li>
				</ul-->
			<li>{{'ACC_DOCTYPE.RETURN_SALES' | translate }}</li>
		</ul>
	</li>
	<li>
		<a ui-sref="accounting/cash"><i class="fa fa-eur"></i>{{'MENU.CASH_BANK' | translate }}</a>
	</li>
	<li>
		<a><i class="fa fa-retweet"></i>{{'MENU.ACCOUNTING' | translate }}</a>
		<ul>
			<li><a ui-sref="accounting/accounts">{{'ACCOUNTS.ACC_TRANCS' | translate }}</a></li>
			<li><a ui-sref="accounting/ledgerentriesCreate">{{'ACC_DOCTYPE.LEDGER_ENTRY' | translate }}</a></li>
			<li>{{'MENU.FLEC_TRANSACTIONS' | translate }}</li>
			<li>{{'MENU.ACCOUNTS_PLAN' | translate }}</li>
			<li>{{'MENU.RELATED_ACCOUNTS' | translate }}</li>
			<li><a ui-sref="accounting/accountsCreate">{{'MENU.CREATE_ACCOUNT' | translate }}</a></li>
			<li><a ui-sref="accounting/commercialtermsCreate">{{'TERMS.TITLE' | translate }}</a></li>
			<li><a ui-sref="accounting/accountgroupsCreate">{{'MENU.ACCOUNTS_GROUP' | translate }}</a></li>
			<li><a ui-sref="accounting/financialstatementpositionsCreate">{{'MENU.FINANCIAL_STAT_POZ' | translate }}</a></li>
		</ul>
	</li>

	<li>
		<a ui-sref="core/reports">{{'MENU.REPORTS' | translate }} </a>
		<a ui-sref="accounting/reports/account/ledger"> Ledger Report </a>
	</li>
	<li><a ui-sref="accounting/cashreceiptsCreate">{{'ACC_DOCTYPE.CASH_RECEIPT' | translate }}</a></li>
	<li><a ui-sref="accounting/salesinvoicesCreate">{{'ACC_DOCTYPE.SALES_INVOICE' | translate }}</a></li>
	<li><a ui-sref="accounting/loginCreate"></a></li>

</ul>