<div class="modal-header">
	<button type="button" class="modal-header-btn close-modal" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()"><i class="fa fa-times"></i></button>
	<button type="button" class="modal-header-btn recent-btn"><i class="fa fa-bars"></i></button>
	<span class="modal-title" translate=""></span>
</div>

<div class="modal-body">

<form ace-tooltip-validator class="form-horizontal" id="form" style="margin: 30px;">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="form-group">
				<label class="col-sm-3 control-label" translate="">Username</label>
				<div class="col-sm-9">
					<input ng-model="model.accountgroup_name" type="text" name="accountgroup_name" class="form-control" />
				</div>
			</div>
	        <div class="form-group">
				<label class="col-sm-3 control-label" translate="">Password</label>
				<div class="col-sm-9">
					<input ng-model="model.accountgroup_name" type="text" name="accountgroup_name" class="form-control" />
				</div>
			</div>
		 	<div class="form-group">
				<label class="col-sm-3 control-label"></label>
				<div class="col-sm-4">
					<input ng-model="model.is_customer" type="checkbox"/> <b>Remember</b>
				</div>
			</div>
		</div>	
		<div class="col-md-4"></div>
	</div>
		<hr>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-3 control-label"></label>	
					<div class="col-sm-9">
					<a type="button" class="btn btn-primary btn-sm btn-block" data-dismiss="modal" ng-click="closeModal()" translate="">Login</a>
					</div>
				</div>
			</div>
			<div class="col-md-4"></div>	
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-sm-3 control-label"></label>	
					<div class="col-sm-9">
					<a type="button" class="btn btn-info btn-sm btn-block" ng-click="delete()" translate="">Forgot Password</a>
					</div>
				</div>
			</div>
			<div class="col-md-4"></div>	
		</div>
	</form>
</div>
