<ul kendo-panel-bar k-options="panelBarOptions">
	<li>
		<a ui-sref="warehouse/warehouses"><i class="fa fa-building"></i>{{'WAREHOUSE.WAREHOUSE' | translate }}</a>
	</li>
	<li><a ui-sref="warehouse/warehousesCreate">{{'WAREHOUSE.TITLE' | translate }}</a></li>
	<li>
		<a><i class="fa fa-cubes"></i>{{'MENU_WAREHOUSE.ITEMS' | translate }}</a>
		<ul>
			<li><a ui-sref="warehouse/items">{{'MENU_WAREHOUSE.ITEMS_CENTER' | translate }}</a></li>
			<li><a ui-sref="warehouse/itemsCreate">{{'ITEM.NEW_ITEM' | translate }}</a></li>
			<li><a ui-sref="warehouse/itemgroups">{{'ITEMGROUP.TITLE' | translate }} </a></li>
			<li><a ui-sref="warehouse/itemkindsCreate">{{'MENU_WAREHOUSE.ITEMKIND' | translate }}</a></li>
			<li><a ui-sref="warehouse/itemaccountsschemas">{{'MENU_WAREHOUSE.ITEMS_ACC_SCHEMA' | translate }}</a></li>
			<li><a ui-sref="warehouse/itemtypesCreate">{{'MENU_WAREHOUSE.ITEMTYPE' | translate }}</a></li>
			<li><a ui-sref="core/unitCreate">{{'MENU_WAREHOUSE.CREATE_UNIT' | translate }}</a></li>
		</ul>
	</li>
	
</ul>