<!-- https://docs.angularjs.org/api/ng/filter/filter -->

<div class="row " style="padding: 7px;">
	<div class="col-lg-4">
		<input type="text" class="form-control" ng-model="searchText" placeholder="Search">
	</div>
	<a class="btn btn-success pull-right" href="#/user">New Currency</a>
</div>

<div class="row" >

	<!--
	`currencies` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `description` varchar(200) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `modified_at` datetime DEFAULT NULL,
  `active` tinyint(1) unsigned NOT NULL DEFAULT '0',
  `deleted` tinyint(1) unsigned NOT NULL DEFAULT '0'
  -->
	<table class="table table-hover table-striped">
		<thead style="background-color: #ccc;">
		<tr>
			<th colspan="2">#</th>
			<th>Name <a href="" ng-click="orderByField='name'; reverseSort = !reverseSort"><span class="glyphicon glyphicon-sort"></span></a></th>
			<th>Description <a href="" ng-click="orderByField='description'; reverseSort = !reverseSort"><span class="glyphicon glyphicon-sort"></span></a></th>
			<th>Status <a href="" ng-click="orderByField='active'; reverseSort = !reverseSort"><span class="glyphicon glyphicon-sort"></span></a></th>
		</tr>
		</thead>

		<tbody style="background-color: #fff;">
		<tr ng-repeat="currency in currencies | filter:searchText | orderBy:orderByField:reverseSort"
		    class="row tbl-row-fade {{currency.active == 0 ?'danger':''}}">
			<td>{{$index + 1}}</td>
			<td><a ui-sref="core/currenciesEdit(currency)">{{currency.name}}</a></td>
			<td>{{currency.description}}</td>
			<td>{{currency.active == 1 ? 'Active' : 'Disabled'}}</td>
		</tr>
		</tbody>
	</table>

</div>