<div class="modal-header">

	<button type="button" class="modal-header-btn close-modal" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()"><i class="fa fa-times"></i></button>

	<!--div class="btn-tools pull-right">
	    <button type="button" class="btn btn-link" ng-click="traceChanges()" translate="FORM.TRACE"></button>
		<span>|</span>
		<button type="button" class="btn btn-link" ng-click="notes()" translate="FORM.NOTES"></button>
	</div-->

	<button type="button" class="modal-header-btn recent-btn"><i class="fa fa-bars"></i></button>
	<span class="modal-title" translate="CURRENCY.TITLE"></span>
</div>

<div class="modal-body" >

	<form ace-tooltip-validator class="form-horizontal" id="form" style="margin: 30px;">
		<div class="form-group">
			<label class="col-sm-3 control-label required" translate="INPUTS.NAME"></label>
			<div class="col-sm-8">
				<input ng-model="model.name" type="text" name="name" class="form-control" required/>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label required" translate="INPUTS.DESCRIPTION"></label>
			<div class="col-sm-8">
				<input ng-model="model.description" type="text" name="description" class="form-control" required/>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label" translate="INPUTS.STATUS"></label>
			<div class="col-sm-8">
				<label class="radio-inline"> 
					<input ng-model="model.active" type="radio" name="active" value="1">{{'INPUTS.STATUS_ACTIVE' | translate }} </label>
				<label class="radio-inline">
					<input ng-model="model.active" type="radio" name="active" value="0">{{'INPUTS.STATUS_INACTIVE' | translate }}</label>
			</div>
		</div>
	</form>

</div>

<div class="modal-footer" style="text-align: center;">
	<div class="pull-left">
		<button type="button" class="btn btn-cancel" data-dismiss="modal" ng-click="closeModal()" translate="FORM.CANCEL"></button>
		<button type="button" class="btn btn-danger" ng-click="delete()" translate="FORM.DELETE"></button>
	</div>
	<!--button type="button" class="btn btn-link" ng-click="print()" translate="FORM.PRINT"></button-->
	<div class="pull-right">
		<button type="button" class="btn btn-success" ng-click="save('close')" translate="FORM.SAVE_CLOSE"></button>
		<div class="btn-group dropup">
			<button type="button" class="btn btn-info" type="button" ng-click="save('new')" translate="FORM.SAVE_NEW"></button>
			<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdownonpopup" aria-expanded="false">
			    <span class="caret"></span>
			    <span class="sr-only">extra</span>
		    </button>
			<ul role="menu" class="dropdown-menu dropdown-menu-right">
				<li><a href="" ng-click="reset()" translate="FORM.RESET"></a></li>
				<li class="divider"></li>
				<!--li><a href="" ng-click="save('draft')" translate="FORM.SAVE_DRAFT"></a></li-->
				<li><a href="" ng-click="save('changes')" translate="FORM.SAVE_CHANGES"></a></li>
			</ul>
		</div>
	</div>
</div>