<div class="modal-header">
	<button type="button" class="modal-close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()"><i class="fa fa-times"></i></button>
	<h4 class="modal-title">Krijo/Modifiko Monedhe</h4>
</div>

<style>

</style>

<div class="modal-body">

<h1> prove </h1>

</div>

<div class="modal-footer">
	<button type="button" class="btn btn-danger pull-left" data-dismiss="modal" ng-click="closeModal()">Cancel</button>
	<button type="button" class="btn btn-success">Save changes</button>
</div>