<!-- https://docs.angularjs.org/api/ng/filter/filter -->

<style>
	
	.tree-view-container {
		position: absolute;
		display: block;
		top: 30px;
		bottom: 0px;
		left: 20px;
		right: 5px;
		overflow-y: auto;
		padding-right: 3px;
	}

	#books-btn-container {
		position: absolute;
		display: block;
		top: 15px;
	}

	#books-grid-container {
		margin: 55px 15px 15px 15px !important;
	}
	#footer-container {
		position: absolute;
		display: block;
		bottom: 25px;
	}

</style>

<div class="section-container">
	<div class="left-pane"></div>
	<div class="right-pane">
  		<div kendo-tab-strip="tabnavigator" class="right-pane-tabscontainer">
			<ul>
				<li class="k-state-active">{{'ITEMACCOUNTSSCHEMAS.TITLE' | translate }}</li>
			</ul>
			<div id="books-grid-container" >
				<div class="row">
					<div class="col-md-4">
						<div class="form-group ">
						  <label class="control-label" translate="ITEM.KIND"></label> 
						  <input ace-drop-down-list="itemkindCombo" class="k-form-control" ace-model="model.id_itemkind"
							ace-datasource="itemkinds" on-change="itemkindSchema(event)"/>	
						</div> 
					</div>	 
					<div class="col-md-4">	
						<div class="form-group ">
							<label class="control-label" translate="ITEMACCOUNTSSCHEMAS.SCHEMAS_ACC"></label> 
						  <input ace-drop-down-list="schemaCombo" class="k-form-control" ace-model="model.selectedSchema" ace-datasource="schemas_data" on-change="itemfieldSchema(event)"/>	
						</div>  
					</div>
				</div>	
				<div id="grid" data-kendo-grid="grid" k-options="gridOptions" k-on-filter-menu-init="filterInit(kendoEvent)"></div>
					<div class="section-footer" id="footer-container" >
						<button type="button" class="btn btn-primary " ng-click="save()" translate="FORM.SAVE_CHANGES"></button>
			   		 </div>
			</div>
		</div>
	</div>	
</div>
