

<style>

	.jrPage {
		-webkit-box-shadow: 4px 6px 5px 3px rgba(119,119,119,0.8);
		-moz-box-shadow: 4px 6px 5px 3px rgba(119,119,119,0.8);
		box-shadow: 4px 6px 5px 3px rgba(119,119,119,0.8);
	}

	.ng-binding > table > tbody > tr > td:nth-child(2) {
		position: relative !important;
		box-sizing: border-box;
	}

	.ng-binding > table > tbody > tr > td:first-child,
	.ng-binding > table > tbody > tr > td:last-child {
		#width: 0 !important;
	}

	.report-tools-filters.panel > .panel-body > .form-group
	{
		margin-bottom: 9px;
	}

	.report-tools-filters.panel > .panel-body > .form-group > label
	{
		font-weight: 600;
		margin-bottom: 2px;
	}

	.report-nav {
		position: absolute;
		bottom: 16px;
		left: 20px;
		right: 35px;
		z-index: 2;
	}

	.report-nav > ul.pager {
		margin-bottom: 2px;
	}

</style>

<div class="section-container">

	<div kendo-splitter="splitter" id="splitter" class="section-splitter-container" k-orientation="'horizontal'"
		k-panes="[{collapsible: true}, {collapsible: true, size: '230px', min: '230px'}]"	>

	    <div class="report-viewer-pane">

		    <a type="button" class="btn splitter-toggle-btn-right" ng-click="toggleSplitter()">
			    <i class="fa fa-angle-double-right"></i>
			</a>

			<!--div class="container-fluid section-container-fluid"-->
			<div class="report-viewer">
				<div ng-bind-html="reportOutput" style="margin: 30px 20px 70px"></div>
		    </div>

		    <nav class="report-nav">
			  <ul class="pager">
			    <li class="previous"><a class="btn" ng-click="getReportPage('prev')" ng-disabled="currentPageResult==1" ><span aria-hidden="true">&larr;</span> Prev</a></li>
			    <li class="next"><a class="btn" ng-click="getReportPage('next')" ng-disabled="currentPageResult==totalPages" >Next <span aria-hidden="true">&rarr;</span></a></li>
			  </ul>
			</nav>
	    </div>

	    <div class="report-tools-pane">
		    <div class="report-tools-header">
			    <label style="font-size: 14px; font-weight: 800; padding: 12px 0 8px; height: 12px; display: block; overflow: hidden;">Titulli i Raportit me dy rreshta te gjate Titulli i Raportit me dy rreshta te gjate</label>

			    <hr class="toolbar-divider">

			    <div class="input-group">
				    <div class="input-group-btn">
					    <button class="btn btn-info" type="button" ng-click="zoomPage('out')" style="font-weight: normal; padding-left: 9px; padding-right: 9px; width: 15px;"><i class="fa fa-search-minus"></i></button>
					</div>
				    <input type="text" class="form-control" ng-model="zoom" ng-disabled="totalPages==0" id="zoomInput"
						   ng-blur="zoomPage('input')" type="text" class="form-control"
						   style="border-top-color: #28a4c9; border-bottom-color: #28a4c9; border-left-color: #28a4c9; text-align: center; padding-left: 2px; padding-right: 2px;"/>
				    <div class="input-group-btn">
			            <button class="btn btn-info" type="button" ng-click="zoomPage('in')" style="font-weight: normal; padding-left: 9px; padding-right: 9px; width: 15px;"><i class="fa fa-search-plus"></i></button>

					    <span style="padding: 3px;">&nbsp;</span>

					    <!-- print and export buttons -->
					    <button class="btn btn-info" type="button" style="min-width: 30px;">PDF</button>
					    <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown"
					            style="min-width: 20px;" class="btn btn-info dropdown-toggle" type="button">
						    <span class="glyphicon glyphicon-save-file"></span>
						    <span class="sr-only">Toggle Dropdown</span>
					    </button>
					    <ul class="dropdown-menu dropdown-menu-right">
						    <li style="padding-left: 15px; font-weight: 700;">Export Formats:</li>
						    <li class="divider" role="separator"></li>
						    <li><a href="#">Word (DOCX)</a></li>
						    <li><a href="#">Word (RTF)</a></li>
						    <li><a href="#">Word (ODT)</a></li>
						    <li class="divider" role="separator"></li>
						    <li><a href="#">Excel (2003)</a></li>
						    <li><a href="#">Excel (2003 Paginated)</a></li>
						    <li><a href="#">Excel (XLXS)</a></li>
						    <li><a href="#">Excel (XLXS Paginated)</a></li>
						    <li><a href="#">Excel (ODS)</a></li>
						    <li class="divider" role="separator"></li>
						    <li><a href="#">PowerPoint (PPTX)</a></li>
						    <li class="divider" role="separator"></li>
						    <li><a href="#">CSV</a></li>
						    <li><a href="#">Acrobat PDF</a></li>
					    </ul>
				    </div>
			    </div>

			    <div class="input-group" style="margin-top: 28px;">
				    <span class="input-group-btn">
						<a class="btn btn-primary" ng-click="getReportPage('prev')" ng-disabled="currentPageResult==1" style="min-width: 60px;">&laquo; Prev</a>
					</span>
					<input type="text" class="form-control" ng-model="currentPageInput" ng-disabled="totalPages==0" id="currentPageInput"
						   ng-blur="getReportPage('input')" type="text" class="form-control" style="border-top-color: #245580; border-bottom-color: #245580; border-left-color: #0D68B8; text-align: center; padding-left: 2px; padding-right: 2px;"/>
				    <span class="input-group-btn">
						<a class="btn btn-primary" ng-click="getReportPage('next')" ng-disabled="currentPageResult==totalPages" style="min-width: 60px;">Next &raquo;</a>
					</span>
				</div>
			</div>
		    <div class="report-tools-filters panel panel-default">
			    <div class="panel-heading" style="padding: 8px 10px 2px 10px;">
				    <label>Filters</label>
				    <span class="pull-right">Pages: <b> {{ totalPages }}</b></span>
			    </div>
			    <div class="panel-body" style="overflow-y: auto; top: 36px; bottom: 36px; position: absolute; display: block; left: 0px; right: 0px;  padding: 10px 8px 10px 10px !important;">
				    <div class="form-group">
						<label translate="INPUTS.DATE"></label>
						<input ace-date-picker ace-model="model.document_date" class="k-form-control"/>
					</div>
				    <div class="form-group">
						<label translate="INPUTS.DATE"></label>
						<input ace-date-picker ace-model="model.document_date" class="k-form-control"/>
					</div>
				    <div class="form-group">
					    <label>Password</label>
					    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				    </div>
				    <div class="form-group">
					    <label>Password</label>
					    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				    </div>
			    </div>
			    <div class="panel-footer" style="bottom: 0; position: absolute; display: block; left: 0px; right: 0px;  padding: 0 !important;">
				    <a class="btn btn-link" style="font-weight: 700; font-size: 15px;">+ Extra Filters</a>
			    </div>
		    </div>
		    <a class="btn btn-primary btn-lg report-tools-run-button">Run Report</a>
	    </div>
	</div>




</div>
