	
<report-viewer>
	<div class="form-group">
		<label translate="INPUTS.DATE"></label>
		<input ace-date-picker ace-model="filter_params.document_date" class="k-form-control"/>
	</div>
	<div class="form-group">
		<label translate="INPUTS.DATE"></label>
		<input ace-date-picker ace-model="filter_params.document_date" class="k-form-control"/>
	</div>
	<div class="form-group">
		<label>prove1</label>
		<input class="form-control" ng-model="filter_params.prove1" placeholder="prove 1">
	</div>
	<div class="form-group">
		<label>Password</label>
		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
	</div>
</report-viewer>