<style>
	#books-btn-container {
		position: absolute;
		display: block;
		top: 15px;
	}

	#books-grid-container {
		margin: 55px 15px 15px 15px !important;
	}
	
</style>

<div class="section-container">
	<div class="right-pane">
					<div id="books-btn-container" class="btn-group create-new-dropdown pull-right">
					<a ui-sref="core/taxesCreate" type="button" class="btn pull-right btn-success" ng-click="createitems()">
					<i class="fa fa-plus"></i> Krijo takse te re
					</a>
					</div>

    <div id="books-grid-container">
		<div id="grid" data-kendo-grid="grid" k-options="gridOptions"></div>
	</div>
</div>

</div>
