<!-- https://docs.angularjs.org/api/ng/filter/filter -->

<style>
	
	.tree-view-container {
		position: absolute;
		display: block;
		top: 30px;
		bottom: 0px;
		left: 20px;
		right: 5px;
		overflow-y: auto;
		padding-right: 3px;
	}

	#books-btn-container {
		position: absolute;
		display: block;
		top: 15px;
	}

	#books-grid-container {
		margin: 55px 15px 15px 15px !important;
	}
	#footer-container {
		position: absolute;
		display: block;
		bottom: 15px;
	}

</style>

<div class="section-container">

 <div kendo-splitter="splitter" id="splitter" class="section-splitter-container" k-orientation="'horizontal'"
		k-panes="[{collapsible: true, size: '240px', min: '150px'}, {collapsible: true}]"	>

		<div class="left-pane">
			<div class="left-pane-header">
                <a ui-sref="accounting/cashCreate" class="btn btn-link left-header-plus-btn"><i class="fa fa-plus"></i></a>
				<div class="input-group left-header-search">
				    <input id="mainSearchBox" type="text" placeholder="Kerko..." class="form-control" aria-label="...">
				    <div class="input-group-btn">
					    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-sort"></i></button>
					    <ul class="dropdown-menu dropdown-menu-right" role="menu">
						    <li><a href="" ng-click="searchMainList()"><span class="k-icon k-i-search"></span> {{'FORM.FILTERS' | translate }} / {{'FORM.SEARCH' | translate }} </a></li>
						    <li class="divider"></li>
						    <li><a href="" ng-click="sortMainList(mainListCodeField)"><i class="fa fa-sort-alpha-asc"></i> {{'FORM.SORT_BYCODE' | translate }} </a></li>
						    <li><a href="" ng-click="sortMainList(mainListNameField)"><i class="fa fa-sort-alpha-asc"></i> {{'FORM.SORT_BYNAME' | translate }} </a></li>
						    <li class="divider"></li>
						    <li><a href="" ng-click="searchMainList(true)"><span class="k-icon k-i-close"></span> {{'FORM.CLEAR_FILTERS' | translate }} </a></li>
					    </ul>
				    </div><!-- /btn-group -->
			    </div>
            </div>
            <div class="left-pane-body">
					<div kendo-tree-view="tree" class="tree-view-container" k-options="treeOptions"></div>
			</div>		
		</div>
	  	<div class="right-pane">
					<a type="button" class="btn splitter-toggle-btn" ng-click="toggleSplitter()">
					<i class="fa fa-angle-double-left"></i>
					</a>
					<!--div id="books-btn-container" class="btn-group create-new-dropdown pull-right">
					<a ui-sref="warehouse/itemsCreate" type="button" class="btn pull-right btn-success" ng-click="createitems()">
					<i class="fa fa-plus"></i> Cel Artikull te ri 
					</a>
					</div-->

	  		<div kendo-tab-strip="tabnavigator" class="right-pane-tabscontainer">
				<ul>	
						<li class="k-state-active"> {{'FORM.DETAILS' | translate }} <b>{{selectedItem.name}}</b> </li>
						<li > {{'ACCOUNTS.ACC_TRANCS' | translate }}</li>
				</ul>
				
			      <div class="form-horizontal">
				    <div class="row" style="padding-right: 15px; margin-bottom: 15px;">
						<a type="button" ui-sref="accounting/accountsEdit({id: selectedItem.id})" class="btn btn-warning pull-right">
						    <i class="fa fa-pencil-square-o"></i> {{'FORM.EDIT' | translate }}
					    </a>
				    </div>

					<div class="col-md-5">
					    <div class="form-group">
						    <label class="col-sm-5 control-label" translate="ACCOUNTS.CODE_Q"></label>
						    <div class="col-sm-7">
							    <span class="label-underlined-form-item">&nbsp;{{selectedItem.code}}</span>
						    </div>
					    </div>
					    <div class="form-group">
						    <label class="col-sm-5 control-label" translate="ACCOUNTS.NAME"></label>
						    <div class="col-sm-7">
							    <span class="label-underlined-form-item">&nbsp;{{selectedItem.name}}</span>
						    </div>
					    </div>
					    <div class="form-group">
						    <label class="col-sm-5 control-label" translate="ACCOUNTS.ACCOUNTS"></label>
						    <div class="col-sm-7">
							    <span class="label-underlined-form-item">&nbsp;{{selectedItem.currency}}</span>
						    </div>
					    </div>
					    <div class="form-group">
						    <label class="col-sm-5 control-label" translate="ACCOUNTS.DATE_Q"></label>
						    <div class="col-sm-7">
							    <span class="label-underlined-form-item">&nbsp;{{selectedItem.created_at | kendoDate:'D'}} </span>
						    </div>
					    </div>
			        </div>

			        <div class="col-md-5 col-md-offset-1">
					    <div class="form-group">
						    <label class="col-sm-5 control-label" translate="ACCOUNTS.DEBIT_VALUE"></label>
						    <div class="col-sm-7">
							    <span class="label-underlined-form-item">&nbsp;{{selectedItem.email}}</span>
						    </div>
					    </div>
					    <div class="form-group">
						    <label class="col-sm-5 control-label" translate="ACCOUNTS.CREDIT_VALUE"></label>
						    <div class="col-sm-7">
							    <span class="label-underlined-form-item">&nbsp;{{selectedItem.phonenumber}}</span>
						    </div>
					    </div>
					    <div class="form-group">
						    <label class="col-sm-5 control-label" translate="ACCOUNTS.OPENING_BALANACE"></label>
						    <div class="col-sm-7">
							    <span class="label-underlined-form-item">&nbsp;{{selectedItem.opening_balance}}</span>
						    </div>
					    </div>
			        </div>

			    </div>
			    <div id="books-grid-container">
					<div id="grid" data-kendo-grid="grid" k-options="gridOptions" k-on-filter-menu-init="filterInit(kendoEvent)"></div>
			    </div> 
			</div>
 		</div>
 </div>	
</div>
