
<div class="section-container tiles-container">
<br>
<h1 style="margin-left: 30px;">HOME Panels and Quick Reports</h1>
<br>
<div class="row">
    <div class="col-sm-4">
        <a class="tile gray">
            <h3 class="title">Sample Dashboard 1</h3>
            <p>Reports Content</p>
        </a>
    </div>

    <div class="col-sm-4">
        <a class="tile gray">
            <h3 class="title">Sample Dashboard 2</h3>
            <p>Reports Content</p>
        </a>
    </div>
    <div class="col-sm-4">
        <a class="tile gray">
            <h3 class="title">Sample Dashboard 3</h3>
            <p>Reports Content</p>
        </a>
    </div>
</div>
</div>
