<ul kendo-panel-bar k-options="panelBarOptions">
	
	<li>
		<i class="fa fa-cog"></i>{{'MENU_CORE.TITLE' | translate }}
		<ul>
			<li><a ui-sref="core/users">{{'MENU_CORE.USERS' | translate }}</a></li>
			<li><a ui-sref="core/roles">{{'MENU_CORE.ROLES' | translate }}</a></li>
		</ul>
	</li>
	
    <li>
		<i class="fa fa-wrench"></i>{{'MENU_CORE.PREFERENCES' | translate }}
		<ul>
			<li><a ui-sref="core/settingsGenerals({code: 'generals'})">{{'GENERALS.TITLE' | translate }}</a></li> 
			<!--li><a ui-sref="core/settingsTaxes({code: 'taxes'})">taxes</a></li-->
			<li><a ui-sref="core/companydetailsCreate">{{'COMPANY.TITLE' | translate }}</a></li>
			<li>{{'MENU.ACCOUNTING' | translate }} 
				<ul>
					<li><a ui-sref="core/settingsAccounting({code: 'accounting'})">{{'ACCOUNTING.TITLE' | translate }}</a>
					<li><a ui-sref="core/settingsProfitloss({code: 'profitloss'})">{{'ACCOUNTING.PROFT_LOSS' | translate }}</a></li>
					<li><a ui-sref="core/settingsAssets({code: 'assets'})">{{'MENU_CORE.ASSETS' | translate }}</a></li>
					<li><a ui-sref="core/settingsInitialcreation({code: 'initialcreation'})">{{'ACCOUNTING.INITIAL_CREATION' | translate }}</a></li>
				</ul>
			</li>
			<li><a ui-sref="core/settingsSuppliers({code: 'suppliers'})">{{'SUPPLIER.TITLE' | translate }}</a></li>
			<li><a ui-sref="core/settingsCustomers({code: 'customers'})">{{'CUSTOMERS_SALES.TITLE' | translate }}</a></li>
			<li><a ui-sref="core/settingsTaxes({code: 'taxes'})">{{'TAXES.TITLE' | translate }}</a></li>
			<li><a ui-sref="core/settingsSecurity({code: 'security'})">{{'SECURITY.TITLE' | translate }}</a></li>
			<li><a ui-sref="core/settingsWarehouses({code: 'warehouses'})">{{'WAREHOUSE.WAREHOUSE' | translate }}</a></li>
		</ul>
	</li>

	<li>
		<a ui-sref="core/currencies">{{'MENU_CORE.CURRENCIES' | translate }} </a>
	</li>
	<li>
		<a ui-sref="core/industrycategories">{{'COMPANY.CATEGORY' | translate }}</a>
	</li>
	<li>
		<a ui-sref="accounting/documentgroups">{{'MENU_CORE.SERIAL_NR' | translate }}</a>
	</li>
	<li>
		<a ui-sref="core/taxes"> {{'MENU_CORE.TAXES' | translate }}</a>
	</li>
	
</ul>