<div class="modal-header">
	<button type="button" class="modal-header-btn close-modal" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()"><i class="fa fa-times"></i></button>
	<button type="button" class="modal-header-btn recent-btn"><i class="fa fa-bars"></i></button>
	<span class="modal-title" >Flete Kontabel</span>
</div>

<div class="modal-body">

	<form ace-tooltip-validator class="form-horizontal" id="form">

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label class="col-md-3 control-label" translate="INPUTS.DATE"></label>
					<div class="col-md-8">
						<input ace-date-picker ace-model="model.document_date" class="k-form-control" required/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" translate="CURRENCY.CURRENCY"></label>
					<div class="col-md-4">
						<input ace-drop-down-list class="k-form-control" ace-model="model.id_currency" ace-datasource="currencies" on-change="currencyChange(event)" required/>
					</div>
					<div class="col-md-4">
						<input kendo-numeric-text-box ng-model="model.exchange_rate" ng-disabled="model.id_currency == home_id_currency"
						       ng-blur="updateExchangeRate()" k-format="'n2'" k-spinners="false" k-decimals="5" type="text" class="k-form-control" required/>
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="form-group">
					<label class="col-md-3 control-label" translate="INPUTS.DOC_NUMBER"></label>
					<div class="col-md-9">
						<input ng-model="model.document_number" type="text" name="document_number" class="form-control" required ng-disabled="model.document_number=='(auto)'"/>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label" translate="INPUTS.SERIAL"></label>
					<div class="col-md-9">
						<input ng-model="model.serial_number" type="text" name="serial_number" class="form-control" required ng-disabled="model.serial_number=='(auto)'"/>
					</div>
				</div>
			</div>

			<div class="col-md-5">
				<div class="form-group">
					<label class="col-md-3 control-label" translate="INPUTS.DESCRIPTION"></label>
					<div class="col-md-9">
						<textarea ng-model="model.description" name="description" class="form-control" rows="2"></textarea>
					</div>
				</div>
			</div>

		</div>

		<div class="row editable-grid-container">
			<div id="grid" class="editable-grid" data-kendo-grid="grid" k-options="gridOptions"></div>
			<div class="col-md-4">
				<button type="button" class="btn btn-default btn-sm" type="button" ng-click="addExtraRows()" translate="FORM.ADD_ROWS"></button>
				<button type="button" class="btn btn-default btn-sm" type="button" ng-click="resetRowData()" translate="FORM.CLEAR_ROWS"></button>
			</div>
		</div>

	</form>

	<span class="bottom-margin-space"/>
</div>
<div class="modal-footer" style="text-align: center;">
	<div class="pull-left">
		<button type="button" class="btn btn-cancel" data-dismiss="modal" ng-click="closeModal()" translate="FORM.CANCEL"></button>
		<button type="button" class="btn btn-danger" ng-click="delete()" translate="FORM.DELETE"></button>
	</div>
	<!--button type="button" class="btn btn-link" ng-click="print()" translate="FORM.PRINT"></button-->
	<div class="pull-right">
		<button type="button" class="btn btn-success" ng-click="save('close')" translate="FORM.SAVE_CLOSE"></button>
		<div class="btn-group dropup">
			<button type="button" class="btn btn-info" type="button" ng-click="save('new')" translate="FORM.SAVE_NEW"></button>
			<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdownonpopup" aria-expanded="false">
				<span class="caret"></span>
				<span class="sr-only">extra</span>
			</button>
			<ul role="menu" class="dropdown-menu dropdown-menu-right">
				<li><a href="" ng-click="reset()" translate="FORM.RESET"></a></li>
				<li class="divider"></li>
				<!--li><a href="" ng-click="save('draft')" translate="FORM.SAVE_DRAFT"></a></li-->
				<li><a href="" ng-click="save('changes')" translate="FORM.SAVE_CHANGES"></a></li>
			</ul>
		</div>
	</div>
</div>