
<div class="container-fluid section-container-fluid">

	<div class="section-header">{{'ACCOUNTING.TITLE' | translate }}</div>
	
	<form ace-tooltip-validator class="form-widgets" id="form">
   	<div class="row"> 
	    <div class="col-md-5">   
			<div class="form-group">
				<label class="control-label" translate="ACCOUNTING.FISCAL_YEAR_START"></label>
			<div class="row">
				<div class="col-sm-6">
				<input kendo-numeric-text-box ng-model="model.fiscal_year_start_day" k-min="1" k-max="31" k-format="'n0'" class="k-form-control" />
				</div>
				<div class="col-sm-6">
				<input ace-drop-down-list="fiscalMonthDropdown" class="k-form-control" ng-model="model.fiscal_year_start_month" ace-datasource="months"/>
				</div>
			</div>
			</div>
			<div class="form-group">
				<label class=" control-label" translate="ACCOUNTING.ACC_EXCHANGE_LOSS"></label>
				<input ace-combo-box class="k-form-control" ace-model="model.acc_exchange_loss"
					   ace-load-url="/accounting/accounts/load" ace-multi-filters="code_name" />
			</div>
			<div class="form-group">
				<label class=" control-label" translate="ACCOUNTING.ACC_EXCHANGE_GAIN"></label>
				<input ace-combo-box class="k-form-control" ace-model="model.acc_exchange_gain"
					   ace-load-url="/accounting/accounts/load" ace-multi-filters="code_name" />
			</div>
			<div class="form-group">
				<label class=" control-label" translate="ACCOUNTING.ACC_ADVANCED_RECIEPT"></label>
				<input ace-combo-box class="k-form-control" ace-model="model.acc_advanced_reciept"
					   ace-load-url="/accounting/accounts/load" ace-multi-filters="code_name" />
			</div>
			<div class="form-group">
				<label class=" control-label" translate="ACCOUNTING.ACC_ADVANCED_PAYMENT"></label>
				<input ace-combo-box class="k-form-control" ace-model="model.acc_advanced_payment"
					   ace-load-url="/accounting/accounts/load" ace-multi-filters="code_name" />
			</div>	
	    </div>
	</div>
</form>
<hr>
<form ace-tooltip-validator class="form-horizontal" id="form">
	<div class="row">
		<div class="col-md-9">
			<div class="form-group ">
			<div class="row">	
				<label class="col-sm-4 control-label" translate="ACCOUNTING.ALERT_ENTRY"></label>
			<div class="col-sm-2">
				<input kendo-numeric-text-box ng-model="model.alert_past_entry_prior_to" k-min="1" k-max="31" k-format="'n0'" class="k-form-control" />
			</div>
			<div class="form-group label-sub-text"><b>{{'ACCOUNTING.DAYS_BEFORE' | translate }}</b>
			</div>
			</div>
		    </div>
		    <div class="form-group ">
		    <div class="row">	
			<label class="col-sm-4 control-label" translate="ACCOUNTING.ALERT_ENTRY"></label>
			<div class="col-sm-2">
			<input kendo-numeric-text-box ng-model="model.alert_future_entry_later_than" k-min="1" k-max="31" k-format="'n0'" class="k-form-control" />
			</div>
			<div class="form-group label-sub-text"><b>{{'ACCOUNTING.DAYS_AFTER' | translate }}</b>
			</div>
			</div>
		    </div>
        </div>
    </div>    
 
</form>	

	<div class="section-footer">
		<button type="button" class="btn btn-cancel" ng-click="refresh()" translate="FORM.CANCEL"></button>
		<button type="button" class="btn btn-primary" ng-click="save()" translate="FORM.SAVE_CHANGES"></button>
	</div>
</div>