
<div class="container-fluid section-container-fluid">

	<div class="section-header">{{'CUSTOMERS_SALES.TITLE' | translate }}</div>
	

<form ace-tooltip-validator class="form-horizontal" id="form">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
			<div class="row">	
			   <label class="col-md-4 control-label">
			   <input ng-model="model.sale_maturation_days" type="checkbox" id="checkboxWarning" value="true"> {{'CUSTOMERS_SALES.SALE_MATURATION_DAYS' | translate }} </label> 
			<div class="col-md-2">  
				<input kendo-numeric-text-box ng-model="model.sale_maturation_days_value" k-min="1" k-max="31" k-format="'n0'" class="k-form-control" />
			</div>
			<div class="label-sub-text"><b>{{'CUSTOMERS_SALES.SALE_MATURATION_DAYS_VALUE' | translate }}</b>
			  </div>
			 </div>
			</div>
		</div>
    </div>
</form>    
<hr>
<form ace-tooltip-validator class="form-widgets" id="form">
   	<div class="row"> 
	    <div class="col-md-4">   
			<div class="form-group">
				<label class="control-label" translate="CUSTOMERS_SALES.ACC_SALE_DISCOUNT"></label>
				<input ace-combo-box class="k-form-control" ace-model="model.acc_sale_discount"
					   ace-load-url="/accounting/accounts/load" ace-multi-filters="code_name" />
			</div>
			<div class="form-group">
				<label class="control-label" translate="CUSTOMERS_SALES.ACC_SALES_PAYABLE_VAT"></label>
				<input ace-combo-box class="k-form-control" ace-model="model.acc_sales_payable_vat"
					   ace-load-url="/accounting/accounts/load" ace-multi-filters="code_name" />
			</div>
			<div class="form-group">
				<label class="control-label" translate="CUSTOMERS_SALES.ACC_RECEIPTS_DISCOUNT"></label>
				<input ace-combo-box class="k-form-control" ace-model="model.acc_receipts_discount"
					   ace-load-url="/accounting/accounts/load" ace-multi-filters="code_name" />
			</div>
			<div class="form-group">
				<label class="control-label" translate="CUSTOMERS_SALES.ACC_RECEIPTS_OVERDUE_INTEREST"></label>
				<input ace-combo-box class="k-form-control" ace-model="model.acc_receipts_overdue_interest"
					   ace-load-url="/accounting/accounts/load" ace-multi-filters="code_name" />
			</div>
	    </div>
	</div>
</form>

	<div class="section-footer">
		<button type="button" class="btn btn-cancel" ng-click="refresh()" translate="FORM.CANCEL"></button>
		<button type="button" class="btn btn-primary" ng-click="save()" translate="FORM.SAVE_CHANGES"></button>
	</div>
</div>