
<div class="container-fluid section-container-fluid">

	<div class="section-header">{{'GENERALS.TITLE' | translate }} </div>
	
    <div class="row">
		<div class="col-md-6">
			<div class="form-group">	
			   <label class="control-label">
			   <input ng-model="model.doc_date_print" type="checkbox"> {{'GENERALS.PRINT_DATE' | translate }} </label> 
            </div>
            <div class="form-group" style="padding-left:20px;">	
			   <label class="control-label">
			   <input ng-disabled="!model.doc_date_print" ng-model="model.doc_time_print" type="checkbox"> {{'GENERALS.PRINT_TIME' | translate }} </label> 
            </div>
             <div class="form-group">	
			   <label class="control-label">
			   <input ng-model="model.save_doc_before_print" type="checkbox"> {{'GENERALS.SAVE_DOC_PRINT' | translate }} </label> 
            </div>  
        </div>
	</div>
	<div class="section-footer">
		<button type="button" class="btn btn-cancel" ng-click="refresh()" translate="FORM.CANCEL"></button>
		<button type="button" class="btn btn-primary" ng-click="save()" translate="FORM.SAVE_CHANGES"></button>
	</div>
</div>