
<div class="container-fluid section-container-fluid">

	<div class="section-header">{{'ACCOUNTING.PROFT_LOSS' | translate }}</div>
	
	<form ace-tooltip-validator class="form-widgets" id="form">
   	<div class="row"> 
	    <div class="col-md-4">   
			<div class="form-group">
				<label class=" control-label" translate="ACCOUNTING.ACC_PROFIT"></label>
				<input ace-combo-box class="k-form-control" ace-model="model.acc_profit"
					   ace-load-url="/accounting/accounts/load" ace-multi-filters="code_name" />
			</div>
			<div class="form-group">
				<label class=" control-label" translate="ACCOUNTING.ACC_ACCUMULATED_EARNING"></label>
				<input ace-combo-box class="k-form-control" ace-model="model.acc_accumulated_earning"
					   ace-load-url="/accounting/accounts/load" ace-multi-filters="code_name" />
			</div>
	    </div>
	</div>
</form>

	<div class="section-footer">
		<button type="button" class="btn btn-cancel" ng-click="refresh()" translate="FORM.CANCEL"></button>
		<button type="button" class="btn btn-primary" ng-click="save()" translate="FORM.SAVE_CHANGES"></button>
	</div>
</div>