
<div class="container-fluid section-container-fluid">

	<div class="section-header">{{'SECURITY.TITLE' | translate }}</div>
	

<form ace-tooltip-validator class="form-horizontal" id="form">
	<div class="row">
		<div class="col-md-8">
		    <div class="form-group ">
				<label class="col-sm-5 control-label" translate="SECURITY.PASSWORD_STRENGTH"></label>
		       <div class="col-sm-2">
				<input kendo-numeric-text-box ng-model="model.password_strength" k-min="0" k-max="100" k-format="'n0'" class="k-form-control" />	   	       
			   </div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="form-group">
				<label class="col-md-5 control-label" translate="SECURITY.PASSWORD_RESET_TIME"></label>
				<div class="col-md-2">
					<input kendo-numeric-text-box ng-model="model.password_reset_time"  k-format="'n0'" class="k-form-control" />
				</div>
				<div class="label-sub-text"><b>{{'SECURITY.DAYS' | translate }}</b></div>
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="col-md-8">
			<div class="form-group">
				<div class="col-md-5"></div>
				<div class="col-md-2">
					<input kendo-numeric-text-box ng-model="model.password_reset_time"  k-format="'n0'" class="k-form-control" />
				</div>
				<div class="label-sub-text"><b>{{'SECURITY.DAYS_PASSWORD_RESET_TIME' | translate }} </b></div>
			</div>
		</div>
	</div>	
	<hr>
	<div class="row">
			<div class="form-group" >
				<label class="col-md-4 control-label">
			<input ng-model="model.password_reset_obligatory" type="checkbox" id="checkboxWarning" value="true"> {{'SECURITY.PASSWORD_RESET_OBLIGATORY' | translate }}
		</label> 
			</div>
			
			<div class="form-group">
				<label class="col-md-5 control-label">
			<input ng-model="model.different_new_password" type="checkbox" id="checkboxWarning" value="true"> {{'SECURITY.DIFFERENT_NEW_PASSWORD' | translate }}
		</label> 
			</div>
		</div>
	<div class="row">
		<div class="col-md-8">
		    <div class="form-group ">
				<label class="col-sm-5 control-label" translate="SECURITY.BLOCK_USERS"></label>
		        <div class="col-sm-2">
				<input kendo-numeric-text-box ng-model="model.security" k-format="'n0'" class="k-form-control" />	       
			   </div>
			</div>
		</div>
	</div>
</form>    

	<div class="section-footer">
		<button type="button" class="btn btn-cancel" ng-click="refresh()" translate="FORM.CANCEL"></button>
		<button type="button" class="btn btn-primary" ng-click="save()" translate="FORM.SAVE_CHANGES"></button>
	</div>
</div>