
<div class="container-fluid section-container-fluid">

	<div class="section-header">{{'SUPPLIER.TITLE' | translate }}</div>
	

<form ace-tooltip-validator class="form-horizontal" id="form">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
			<div class="row">	
			   <label class="col-md-7 control-label">
			   <input ng-model="model.alert_recipts_to_be_paid" type="checkbox" id="checkboxWarning" value="true"> {{'SUPPLIER.RECIPTS_TO_BE_PAID' | translate }}</label> 
			<div class="col-md-2">  
				<input kendo-numeric-text-box ng-model="model.recipts_to_be_paid_in_days" k-min="1" k-max="31" k-format="'n0'" class="k-form-control" />
			</div>
			<div class="label-sub-text"><b> {{'SUPPLIER.DAYS' | translate }}</b>
			  </div>
			 </div>
			</div>
		</div>
    </div>
</form>    
<hr>
<form ace-tooltip-validator class="form-widgets" id="form">
   	<div class="row"> 
	    <div class="col-md-4">   
			<div class="form-group">
				<label class="control-label" translate="SUPPLIER.ACC_PURCHASE_DISCOUNT"></label>
				<input ace-combo-box class="k-form-control" ace-model="model.acc_purchase_discount"
					   ace-load-url="/accounting/accounts/load" ace-multi-filters="code_name" />
			</div>
			<div class="form-group">
				<label class="control-label" translate="SUPPLIER.ACC_PURCHASE_RECEIVABLE_VAT"></label>
				<input ace-combo-box class="k-form-control" ace-model="model.acc_purchase_receivable_vat"
					   ace-load-url="/accounting/accounts/load" ace-multi-filters="code_name" /> 
			</div>
			<div class="form-group">
				<label class="control-label" translate="SUPPLIER.ACC_PAYMENT_DISCOUNT"></label>
				<input ace-combo-box class="k-form-control" ace-model="model.acc_payment_discount"
					   ace-load-url="/accounting/accounts/load" ace-multi-filters="code_name" />
			</div>
			<div class="form-group">
				<label class="control-label" translate="SUPPLIER.ACC_PAYMENT_OVERDUE_INTEREST"></label>
				<input ace-combo-box class="k-form-control" ace-model="model.acc_payment_overdue_interest"
					   ace-load-url="/accounting/accounts/load" ace-multi-filters="code_name" />
			</div>
	    </div>
	</div>
</form>

	<div class="section-footer">
		<button type="button" class="btn btn-cancel" ng-click="refresh()" translate="FORM.CANCEL"></button>
		<button type="button" class="btn btn-primary" ng-click="save()" translate="FORM.SAVE_CHANGES"></button>
	</div>
</div>