
<div class="container-fluid section-container-fluid">

	<div class="section-header">{{'TAXES.TITLE' | translate }}</div>
	

<form ace-tooltip-validator class="form-horizontal" id="form">
	<div class="form-group">
		<label class="col-md-3 control-label">
			{{'TAXES.INCOME_TAX_RATE' | translate }}
		</label> 
		<div class="col-md-2">  
			<input kendo-numeric-text-box ng-model="model.income_tax_rate" k-min="0" k-max="100" k-format="'n0'" class="k-form-control" />
		</div>
		<div class="label-sub-text"><b>{{'TAXES.PERCENT' | translate }}</b></div>
	</div>
	<div class="form-group">
		<label class="col-md-3 control-label">{{'TAXES.SALES_TAX' | translate }}</label>
		<div class="col-md-6">
			<label class="radio-inline">
				<input ng-model="model.sales_tax" type="radio" value="1"> {{'TAXES.YES' | translate }}
			</label>
			<label class="radio-inline">
				<input ng-model="model.sales_tax" type="radio" value="0"> {{'TAXES.NO' | translate }}
			</label>		
		</div>
	</div>
	<div class="form-group">
	   	<label class="col-md-3 control-label">
			 {{'TAXES.VAT_RATE' | translate }}
		</label> 
		<div class="col-md-2">  
			<input kendo-numeric-text-box ng-model="model.vat_rate" k-min="0" k-max="100" k-format="'n0'" class="k-form-control" />
		</div>
		<div class="label-sub-text"><b> {{'TAXES.PERCENT' | translate }}</b></div>
	</div>
</form>    
<hr>
<form ace-tooltip-validator class="form-widgets" id="form">
   	<div class="row"> 
	    <div class="col-md-4">   
			<div class="form-group">
				<label class="control-label" translate="TAXES.ACC_VAT_ON_PURCHASE"></label>
				<input ace-combo-box class="k-form-control" ace-model="model.acc_vat_on_purchase"
					   ace-load-url="/accounting/accounts/load" ace-multi-filters="code_name" />
			</div>
			<div class="form-group">
				<label class="control-label" translate="TAXES.ACC_VAT_ON_SALE"></label>
				<input ace-combo-box class="k-form-control" ace-model="model.acc_vat_on_sale"
					   ace-load-url="/accounting/accounts/load" ace-multi-filters="code_name" />
			</div>
	    </div>
	</div>
</form>

	<div class="section-footer">
		<button type="button" class="btn btn-cancel" ng-click="refresh()" translate="FORM.CANCEL"></button>
		<button type="button" class="btn btn-primary" ng-click="save()" translate="FORM.SAVE_CHANGES"></button>
	</div>
</div>