
<div class="container-fluid section-container-fluid">

	<div class="section-header">{{'WAREHOUSE_SETT.TITLE' | translate }}</div>

<form ace-tooltip-validator class="form-widgets" id="form">
   	<div class="row"> 
	    <div class="col-md-4">   
			<div class="form-group">
				<label class=" control-label" translate="WAREHOUSE_SETT.PRICE_LEVEL_COUNT"></label>
				<input kendo-numeric-text-box ng-model="model.price_levels_count" k-min="1" k-max="30" k-format="'n0'" class="k-form-control" />		   
			</div>
	    </div>
	</div>
</form>
	



	<div class="section-footer">
		<button type="button" class="btn btn-primary" ng-click="save()" translate="FORM.SAVE_CHANGES"></button>
	</div>
</div>