
<div class="container-fluid section-container-fluid">

	<div class="section-header">{{'COMPANY.TITLE' | translate}}</div>
	
	<form ace-tooltip-validator class="form-widgets" id="form">
	  <div class="row">
	  	<div class="col-md-5" >
			<div class="form-group">
				<label class="control-label" translate="INPUTS.NAME"></label>
				<div class="">
					<input ng-model="model.name" type="text" name="name" class="form-control" />
				</div>
			</div>
	        <div class="form-group">
				<label class="control-label" translate="CONTACTS.NIPT"></label>
				<div class="">
					<input ng-model="model.company_nipt" type="text" name="company_nipt" class="form-control" />
				</div>
			</div>
		    <div class="form-group">
				<label class="control-label" translate="COMPANY.CATEGORY"></label>
				<div class="">
					<input ace-drop-down-list class="k-form-control" ace-model="model.id_industrycategory" ace-datasource="industrycategory"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" translate="COMPANY.ORGANIZATION_FORM"></label>
				<div class="">
					<input ace-drop-down-list class="k-form-control" ace-model="model.id_organisationform" ace-datasource="organisationforms"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" translate="COMPANY.STATUS"></label>
				<div class="">
					<input ace-drop-down-list class="k-form-control" ace-model="model.id_taxpayerstatus" ace-datasource="taxpayerstatus"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" translate="CURRENCY.CURRENCY"></label>
				<div class="">
					<input ace-drop-down-list class="k-form-control" ace-model="model.id_currency" ace-load-url="core/currencies/load"/>
				</div>
			</div>
		    <div class="form-group">
				<label class="control-label" translate="CONTACTS.BANK_ACCOUNT"></label>
				<div class="">
					<input ng-model="model.test" type="text" name="test" class="form-control" />
				</div>
			</div>

	    </div>
	    <div class="col-md-5 col-md-offset-1" >
	        
			<div class="form-group ">
				<label class="control-label" translate="CONTACTS.DISTRICT"></label>
				<div class="">
					<input ng-model="model.id_administrativeregion" type="text" name="id_administrativeregion" class="form-control" />
				</div>
			</div>
			<div class="form-group ">
				<label class="control-label" translate="INPUTS.PHONE"></label>
				<div class="">
					<input ng-model="model.phonenumber" type="text" name="phonenumber" class="form-control" />
				</div>
			</div>
			 <div class="form-group ">
				<label class="control-label" translate="CONTACTS.FAX"></label>
				<div class="">
					<input ng-model="model.fax" type="text" name="fax" class="form-control" />
				</div>
			</div>
			<div class="form-group ">
				<label class="control-label" translate="INPUTS.EMAIL"></label>
				<div class="">
					<input ng-model="model.email" type="text" name="email" class="form-control" />
				</div>
			</div>
			<div class="form-group ">
				<label class="control-label" translate="INPUTS.ADDRESS"></label>
				<div class="">
					<textarea ng-model="model.company_address" name="company_address" class="form-control" rows="1"></textarea>
				</div>
			</div>
			<div class="form-group ">
				<label class="control-label" translate="COMPANY.ACTIVITY"></label>
				<div class="">
					<textarea ng-model="model.activity_detail" name="activity_detail" class="form-control" rows="1"></textarea>
				</div>
			</div>
	    </div> 
	  </div>

	</form>
	

	<div class="section-footer">
		<button type="button" class="btn btn-cancel" ng-click="refresh()" translate="FORM.CANCEL"></button>
		<button type="button" class="btn btn-success" ng-click="save()" translate="FORM.SAVE_CHANGES"></button>
	</div>
</div>