<div class="modal-header">
	<button type="button" class="modal-header-btn close-modal" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()"><i class="fa fa-times"></i></button>
    <button type="button" class="modal-header-btn recent-btn"><i class="fa fa-bars"></i></button>
	<h4 class="modal-title">{{'CASH.TITLE' | translate }}</h4>
</div>

<div class="modal-body">

	<form ace-tooltip-validator class="form-widgets" id="form">

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label class="control-label" translate="CASH.UNIT_TYPE"></label>
					<div style="height: 35px;">
						<label class="radio-inline">
							<input ng-model="model.unit_type" type="radio" value="0"> {{'CASH.UNIT_TYPECASH' | translate }}
						</label>
						<label class="radio-inline">
							<input ng-model="model.unit_type" type="radio" value="1"> {{'CASH.UNIT_TYPEBANK' | translate }}
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label required" translate="CASH.CODE"></label>
					<input ng-model="model.code" type="text" name="code" class="form-control" required/>
				</div>
				<div class="form-group">
					<label class=" control-label required" translate="CASH.NAME"></label>
					<input ng-model="model.name" type="text" name="name" class="form-control" required/>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label class="control-label required" translate="CASH.ACCOUNTID"></label>
					<input ace-combo-box="parent_code_combo" class="k-form-control" ace-model="model.id_account"
					       ace-load-url="/accounting/accounts/load" ace-multi-filters="code_name" />
				</div>
				<div class="form-group">
					<label class="control-label" translate="CASH.LABEL"></label>
					<input ace-drop-down-list class="k-form-control" ace-model="model.id_currency" ace-datasource="currencies"/>
				</div>
				<div class="form-group">
					<label class="control-label" translate="CASH.PDF_POZITION"></label>
					<input ace-combo-box="parent_code_combo" class="k-form-control" ace-model="model.id_financialstatementposition"
					       ace-load-url="/accounting/financialstatementpositions/load" ace-data-text-field="name" />
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group">
					<label class="control-label" translate="INPUTS.DESCRIPTION"></label>
					<textarea ng-model="model.description" name="description" class="form-control" rows="3"></textarea>
				</div>
				<div class="form-group">
					<label class="control-label" translate="INPUTS.STATUS"></label>
					<div>
						<label class="radio-inline">
							<input ng-model="model.active" type="radio" value="1">{{'INPUTS.STATUS_ACTIVE' | translate }}
						</label>
						<label class="radio-inline">
							<input ng-model="model.active" type="radio" value="0"> {{'INPUTS.STATUS_INACTIVE' | translate }}
						</label>
					</div>
				</div>
			</div>
		</div>

		<hr>

		<div class="row">
				<div class="form-group col-md-3">
					<label class="control-label"><input ng-model="set_opening_balance_chbox" type="checkbox"> {{'CASH.OPENING_BALANCE' | translate }}  </label>
					<input type="text" ng-model="model.opening_balance" name="opening_balance" ng-disabled="!set_opening_balance_chbox" class="form-control"/>
				</div>
				<div class="form-group col-md-3">
					<label class="control-label" translate="CURRENCY.EXCHANGE_RATE"></label>
					<input ng-model="model.opening_exchange_rate" type="text" name="opening_exchange_rate" ng-disabled="!set_opening_balance_chbox"  class="form-control"/>
				</div>
				<div class="form-group col-md-3">
					<label class="control-label" translate="CASH.OPENING_BALANACE_HOMECURRENCY"></label>
					<label class="label-as-data" style="color: #DD0000;">{{model.opening_balance_home_currency | number:2}}</label>
				</div>
				<div class="form-group col-md-3">
					<label class="control-label" translate="INPUTS.DATE"></label>
					<input kendo-date-picker ng-model="model.opening_date" name="opening_date" k-options="datePickerOptions" k-parse-formats="['ddMMyy']" ng-disabled="!set_opening_balance_chbox" class="k-form-control" />
				</div>
		</div>

	</form>
</div>
<div class="modal-footer" style="text-align: center;">
	<div class="pull-left">
		<button type="button" class="btn btn-cancel" data-dismiss="modal" ng-click="closeModal()" translate="FORM.CANCEL"></button>
		<button type="button" class="btn btn-danger" ng-click="delete()" translate="FORM.DELETE"></button>
	</div>
	<!--button type="button" class="btn btn-link" ng-click="print()" translate="FORM.PRINT"></button-->
	<div class="pull-right">
		<button type="button" class="btn btn-success" ng-click="save('close')" translate="FORM.SAVE_CLOSE"></button>
		<div class="btn-group dropup">
			<button type="button" class="btn btn-info" type="button" ng-click="save('new')" translate="FORM.SAVE_NEW"></button>
			<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdownonpopup" aria-expanded="false">
			    <span class="caret"></span>
			    <span class="sr-only">extra</span>
		    </button>
			<ul role="menu" class="dropdown-menu dropdown-menu-right">
				<li><a href="" ng-click="reset()" translate="FORM.RESET"></a></li>
				<li class="divider"></li>
				<!--li><a href="" ng-click="save('draft')" translate="FORM.SAVE_DRAFT"></a></li-->
				<li><a href="" ng-click="save('changes')" translate="FORM.SAVE_CHANGES"></a></li>
			</ul>
		</div>
	</div>
</div>