<!-- https://docs.angularjs.org/api/ng/filter/filter -->

<style scoped>


	.k-alt.ng-scope:not(.k-state-selected)
	{
	    background: transparent;
	}

	.list-container {
		position: absolute;
		display: block;
		top: 30px;
		bottom: 0px;
		left: 20px;
		right: 5px;
		overflow-y: auto;
		padding-right: 3px;
	}


	.right-pane-tabscontainer {
		position: absolute;
		display: block;

		top: 15px;
		left: 15px;
		right: 20px;
		bottom: 0px;
	}

	#books-btn-container {
		position: absolute;
		display: block;
		top: 170px;
	}

	#books-grid-container {
		position: absolute;
		display: block;
		top: 210px;
	}
	#footer-container {
		position: absolute;
		display: block;
		bottom: 15px;
	}
</style>

<div class="section-container">

	<div kendo-splitter="splitter" id="splitter" class="section-splitter-container" k-orientation="'horizontal'"
		k-panes="[{collapsible: true, size: '280px', min: '150px'}, {collapsible: true, min: '200px'}]"	>

	    <div class="left-pane">
			<div class="list-group list-container">
			    <a ng-repeat='item in mainListData' href="" ng-click="getSelectedItem(item)" class="list-group-item">{{item['documentgroup_name']}}</a>
			</div>
	    </div>

	    <div class="right-pane">


            <div ng-show="!selectedItem['id']" class="initial-message-block">
				<h1> {{'WAREHOUSE.CENTER' | translate }} </h1>
				<h3><i class="fa fa-chevron-circle-left"></i> {{'FORM.CHOOSE_LIST_ELEMENT' | translate }} </h3>
			</div>

			<div ng-show="selectedItem['id']" kendo-tab-strip="tabnavigator" class="right-pane-tabscontainer">
			    <ul>
				    <li class="k-state-active"> Numer Dokumenti </li>
				    <li> Numer Serial</li>
			    </ul>

				<div class="row" style="margin-top:10px;">
					<div class="col-md-4">
					    <div class="form-group">
							<div >
								<label class="radio-inline" >
								<input ng-model="selectedItem.manual_number" type="radio" value="0"> Auto
								</label>
							</div>
						</div>
						<div class="form-group">	
							<div >	
								<label class="radio-inline">
								<input ng-model="selectedItem.manual_number" type="radio" value="1"> Manual
								</label>
							</div>
						</div>
				    </div>

			        <div class="col-md-6" ng-show="selectedItem.manual_number==0">			        	
						<div class="form-group">
							<label class="control-label">Formati:</label>
							<button type="button" class="btn btn-primary btn-xs" ng-click="insertCode('INC', 'number_format')">INC</button>
							<button type="button" class="btn btn-info btn-xs" ng-click="insertCode('SYM', 'number_format')">SYM</button> 
							<button type="button" class="btn btn-warning btn-xs" ng-click="insertCode('SER', 'number_format')">SER</button>
							<button type="button" class="btn btn-danger btn-xs" ng-click="insertCode('USR', 'number_format')">USR</button>
		                    <input ng-model="selectedItem.number_format" type="text" class="form-control" id="input_number_format" />
						</div>			        
			        </div>
			        <div class="col-md-4" ng-show="selectedItem.manual_number==1">
			        	<div class="form-group col-md-8">
							<label class="control-label">
								<input  ng-model="selectedItem.allow_number_duplication_notify" type="checkbox"> Lejo Perseritjen 
							</label>
						</div>
					</div>	
					 <div class="col-md-4" ng-show="selectedItem.manual_number==1">	
					    <div class="form-group col-md-10">
							<div style="" class="form-widgets">
								<label class="radio-inline col-md-5">
									<input ng-model="selectedItem.numberSuggestDirectionRadio" type="radio" value="1"> Majtas 
								</label>
								<label class="radio-inline col-md-5">
									<input ng-model="selectedItem.numberSuggestDirectionRadio" type="radio" value="0"> Djathtas
								</label>
							</div>
						</div>
						<div class="form-group col-md-10">
								<label class="control-label">
		                    		<input ng-model="selectedItem.next_doc_number_suggest_pos" type="text" class="form-control" />
		                    	</label>
		                </div>    	
							
					</div>
					
				 </div>

				 <!-- SERIAL NUMBERS CONTAINER -->
			<div class="row" style="margin-left: 20px; margin-top:10px;">
					<div class="col-md-4">
					    <div class="form-group">
							<div >
								<label class="radio-inline" >
								<input ng-model="selectedItem.manual_serial" type="radio" value="0"> Auto
								</label>
							</div>
						</div>
						<div class="form-group">	
							<div >	
								<label class="radio-inline">
								<input ng-model="selectedItem.manual_serial" type="radio" value="1"> Manual
								</label>
							</div>
						</div>
				    </div>

			        <div class="col-md-4" ng-show="selectedItem.manual_serial==0">			        	
						<div class="form-group">
							<label class="control-label">Formati:</label>
							<button type="button" class="btn btn-primary btn-xs" ng-click="insertCode('INC', 'serial_format')">INC</button>
							<button type="button" class="btn btn-info btn-xs" ng-click="insertCode('SYM', 'serial_format')">SYM</button> 
							<button type="button" class="btn btn-warning btn-xs" ng-click="insertCode('SER', 'serial_format')">SER</button>
							<button type="button" class="btn btn-danger btn-xs" ng-click="insertCode('USR', 'serial_format')">USR</button>
		                    <input ng-model="selectedItem.serial_format" type="text" class="form-control" id="input_serial_format" />
						</div>
			        
			        </div>
			        <div class="col-md-4" ng-show="selectedItem.manual_serial==1">
			        	<div class="form-group col-md-8">
							<label class="control-label">
								<input  ng-model="selectedItem.allow_serial_duplication_notify" type="checkbox"> Lejo Perseritjen 
							</label>
						</div>
					</div>		
				 	<div class="col-md-4" ng-show="selectedItem.manual_serial==1">	
					    <div class="form-group col-md-10">
							<div style="" class="form-widgets">
								<label class="radio-inline col-md-5">
									<input ng-model="selectedItem.serialSuggestDirectionRadio" type="radio" value="1"> Majtas 
								</label>
								<label class="radio-inline col-md-5">
									<input ng-model="selectedItem.serialSuggestDirectionRadio" type="radio" value="0"> Djathtas
								</label>
							</div>
						</div>
						<div class="form-group col-md-10">
							<label class="control-label">
		                    	<input ng-model="selectedItem.next_serial_suggest_pos" type="text" class="form-control" />
		                    </label>
						</div>
				 	</div>
			</div>

			<div ng-show="selectedItem['id']" id="books-btn-container">
				<a type="button" class="btn btn-success" ng-click="createBatch()">
				    <i class="fa fa-plus"></i> Krijo Bllok 
			    </a>
			</div>
			<div ng-show="selectedItem['id']" id="books-grid-container">
				<div id="grid" data-kendo-grid="grid" k-options="gridOptions" k-on-filter-menu-init="filterInit(kendoEvent)"></div>
			</div>
			<div class="section-footer" id="footer-container">
				<button type="button" class="btn btn-cancel" ng-click="refresh()" translate="FORM.CANCEL"></button>
				<button type="button" class="btn btn-primary" ng-click="save()" translate="FORM.SAVE_CHANGES"></button>
			</div>
        </div>


	</div>

</div>

