<div class="row">
<form class="form-horizontal col-md-offset-3 col-lg-offset-3 col-md-6 col-lg-6" role="form" ng-submit="login()">
    <h1>Login Form</h1>
    <div class="alert" ng-show="flash" ng-bind="flash"></div>

    <hr>
    <!--div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control input-lg" id="inputEmail" placeholder="Email" ng-model="email" required>
        </div>
    </div-->
    <div class="form-group">
        <label for="inputUsername" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
            <input type="text" class="form-control input-lg" id="inputUsername" placeholder="Username" ng-model="username" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control input-lg" id="inputPassword" placeholder="Password" ng-model="password" required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="remember" id="remember" ng-model="remember"> Remember me
                </label>
            </div>
        </div>
    </div>
	<hr>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary btn-lg" style="width: 200px;">Sign in</button>
        </div>
    </div>
</form>
</div>
<br>
<br>