<div class="modal-header">
	<button type="button" class="modal-header-btn close-modal" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()"><i class="fa fa-times"></i></button>
	<button type="button" class="modal-header-btn recent-btn"><i class="fa fa-bars"></i></button>
	<h4 class="modal-title">{{'TERMS.TITLE' | translate }}</h4>
</div>

<div class="modal-body">

<form ace-tooltip-validator class="form-horizontal" id="form">

	<div class="row">
		<div class="col-md-6">
		    <div class="form-group ">
				<label class="col-sm-3 control-label" translate="TERMS.NAME"></label>
		       <div class="col-sm-6">
				<input ng-model="model.name" type="text" name="name" class="form-control" />
		       </div>
			</div>
		</div>
	</div>
<hr>
<!--div class="checkbox">
			<label>
			<input type="checkbox" id="checkboxWarning" ng-model="zbritje" value="option1"><b>Zbritje</b></label>
			
			</div-->

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">	
			   <label class="control-label">
			   <input ng-model="standard" type="checkbox" id="checkboxWarning" value="true"> {{'TERMS.STANDART' | translate }} </label> 
            </div>
            <div class="form-group">
				<label class="col-sm-6 control-label" translate="TERMS.DAYS_NET_AMOUNT"></label>
			  <div class="col-sm-3">
				<!--input  ng-disabled="!standard" ng-model="model.days_net_amount" type="text" name="days_net_amount" class="form-control" /-->
				<input ng-disabled="!standard" kendo-numeric-text-box ng-model="model.days_net_amount" name="days_net_amount" class="k-form-control" />
              </div>
              <div class="form-group label-sub-text"><b> {{'TERMS.DAYS' | translate }} </b>
			  </div>
			</div>

			<div class="form-group ">
				<label class="col-sm-6 control-label" translate="TERMS.PERCENTAGE"></label>
			   <div class="col-sm-3">
				<!--input ng-disabled="!standard" ng-model="model.discount_percentage" type="text" name="discount_percentage" class="form-control" /-->
				<input ng-disabled="!standard" kendo-numeric-text-box ng-model="model.discount_percentage" name="discount_percentage" class="k-form-control" />
			   </div>
			   <div class="col-sm-3 label-sub-text"><b> {{'TERMS.PERCENT' | translate }} </b>
	           </div>  		
			</div>
               
			<div class="form-group ">
				<label class="col-sm-6 control-label" translate="TERMS.DAYS_DISCOUNT_APPLIED"></label>
			   <div class="col-sm-3">
				<!--input ng-disabled="!standard" ng-model="model.days_discount_applied" type="text" name="days_discount_applied" class="form-control" /-->
				<input ng-disabled="!standard" kendo-numeric-text-box ng-model="model.days_discount_applied" name="ays_discount_applied" class="k-form-control" />
			   </div>
			   <div class="form-group label-sub-text"><b> {{'TERMS.DAYS' | translate }} </b>
			   </div>
			</div>

		</div>
	</div>
<hr>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>
					<input ng-model="date_dependent" type="checkbox" id="checkboxWarning" value="true"> {{'TERMS.DATE_DEPENT' | translate }} </label>
				</div>  
		    </div>
	    </div>
	    <div class="row">	
		    <div class="col-md-12">	
			    <div class="form-group">
					<label class="col-md-3 control-label" translate="TERMS.APPLIED_TO"></label>
					<div class="col-md-6">
						<label class="radio-inline col-md-4">
						<input ng-disabled="!date_dependent" ng-model="model.commercialTermsInterestAppliesTo_value" type="radio" value="totalNoVat"> {{'TERMS.TOTAL_NO_VAT' | translate }}
						</label>
						<label class="radio-inline col-md-4">
						<input ng-disabled="!date_dependent" ng-model="model.commercialTermsInterestAppliesTo_value" type="radio" value="totalWithVat"> {{'TERMS.TOTAL_WITH_VAT' | translate }}
						</label>
						
					</div>
	             </div>
			</div>
		</div>
		
		
	    <div class="row">
		    <div class="col-md-12">
			  <div class="form-group">
					<label class="col-md-3 control-label" translate="TERMS.DAY_NET_AMOUNT"></label>
				 <div class="col-md-2">
	                <input ng-disabled="!date_dependent" kendo-numeric-text-box ng-model="model.date_net_amount" name="date_net_amount" class="k-form-control" />
	            </div>  
	            <div>
					<label class="col-md-2 control-label" translate="TERMS.MOUNTH"></label>
				  <div class="col-md-2">
					<input ng-disabled="!date_dependent" ace-drop-down-list class="k-form-control" ace-model="model.commercialTermsMonth_value" ace-datasource="commercialTermsMonth"/>
				  </div>
				</div>
	        <!--div class="col-sm-3 label-as-data"><span><b>te emetimit te fatures</b></span-->
	        <div class="form-group label-sub-text"><b> {{'TERMS.BILD' | translate }} </b>	
	        </div>
	        </div>     
	       

	       <!--div class="col-md-6"> 
	            <div class="form-group"> 
	                	<label class="col-sm-3 control-label" >te Muajit</label>
	                	<div class="col-md-3">
						<input ng-disabled="!date_dependent" ace-drop-down-list class="k-form-control" ace-model="model.commercialTermsInterestBase_value" ace-datasource="currencies"/>
						</div>
			   
	                <div class="col-sm-6 label-as-data"><span><b>te emetimit te fatures</b></span>
	                </div>
                </div>
	        </div-->	
	    </div>	
		</div>
     <div class="row">
		<div class="col-md-12">
			<div class="form-group ">
					<label class="col-sm-3 control-label" translate="TERMS.INTERST_BASE_VALUE"> </label>
				<div class="col-sm-2">
					<input ng-disabled="!date_dependent" ace-drop-down-list class="k-form-control" ace-model="model.commercialTermsInterestBase_value" ace-datasource="commercialTermsInterestBase"/>
				</div>
			    <div>
					<label class="col-sm-1 control-label" translate="TERMS.DELAY"></label>
				<div class="col-md-2">
					<input ng-disabled="!date_dependent" kendo-numeric-text-box ng-model="model.interest" name="interest" class="k-form-control"/>
				</div> 
			    <div class="col-md-3">
				    <input ng-disabled="!date_dependent" ace-drop-down-list class="k-form-control" ace-model="model.commercialTermsInterestType_value" ace-datasource="commercialTermsInterestType"/>
			    </div>
			    </div>
			</div>
			<!--/div-->
			<!--div class="col-md-6">
				<div class="form-group ">
					<label class="col-sm-2 control-label">vonese:</label>
					<div class="col-md-5">
						<input ng-disabled="!date_dependent" kendo-numeric-text-box ng-model="model.interest" name="interest" class="k-form-control"/>
					</div> 
			    <div class="col-md-5">
				     <input ng-disabled="!date_dependent" ace-drop-down-list class="k-form-control" ace-model="model.commercialTermsInterestType_value" ace-datasource="currencies"/>
			     </div>

			</div-->
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">	
			<div class="form-group">
					<label class="col-md-2 control-label " translate="TERMS.MAX"></label>
				<div class="col-md-3">
						<input ng-disabled="!date_dependent" ace-drop-down-list class="k-form-control" ace-model="model.commercialTermsMaxInterestCalcType_value" ace-datasource="commercialTermsMaxInterestCalcType"/>	
	            </div>
	            <div class="col-md-2">
	                <input ng-disabled="!date_dependent" ng-model="model.maxInterestCalc" type="text" name="maxInterestCalc" class="form-control" />
	            </div>
			</div>
		</div>		
	</div>
	
	</form>
</div>
<div class="modal-footer" style="text-align: center;">
	<div class="pull-left">
		<button type="button" class="btn btn-cancel" data-dismiss="modal" ng-click="closeModal()" translate="FORM.CANCEL"></button>
		<button type="button" class="btn btn-danger" ng-click="delete()" translate="FORM.DELETE"></button>
	</div>
	<!--button type="button" class="btn btn-link" ng-click="print()" translate="FORM.PRINT"></button-->
	<div class="pull-right">
		<button type="button" class="btn btn-success" ng-click="save('close')" translate="FORM.SAVE_CLOSE"></button>
		<div class="btn-group dropup">
			<button type="button" class="btn btn-info" type="button" ng-click="save('new')" translate="FORM.SAVE_NEW"></button>
			<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdownonpopup" aria-expanded="false">
			    <span class="caret"></span>
			    <span class="sr-only">extra</span>
		    </button>
			<ul role="menu" class="dropdown-menu dropdown-menu-right">
				<li><a href="" ng-click="reset()" translate="FORM.RESET"></a></li>
				<li class="divider"></li>
				<!--li><a href="" ng-click="save('draft')" translate="FORM.SAVE_DRAFT"></a></li-->
				<li><a href="" ng-click="save('changes')" translate="FORM.SAVE_CHANGES"></a></li>
			</ul>
		</div>
	</div>
</div>