
<div class="section-container">

	
	    <div class="right-pane">

		    <div kendo-tab-strip="tabnavigator" class="right-pane-tabscontainer">
			    <ul>
				    <li class="k-state-active"> {{'ACC_COMMON.TRANSACTION_DOCS' | translate }} </li>
			    </ul>


			    <div>
				    <div id="grid" class="filtrable-grid" data-kendo-grid="grid" k-options="gridOptions" k-on-filter-menu-init="filterInit(kendoEvent)"></div>
			    </div>

            </div>


	    </div>
	</div>

</div>
